
<%

mType = "comment"
returnAfterSaveTo = messages_path
tmpMessage = @formMessage
jsInit = nil
vFlag = true
if @theme != nil
    if userCanCreateMsgInTheme?(@theme)
        mType = "message"
        returnAfterSaveTo = theme_path(@theme)
        tmpMessage = current_user.theme_message_draft(@theme) if tmpMessage == nil
    else
      vFlag = false  
    end
elsif @album != nil
    if !is_not_authorized?
        mType = "comment"
        returnAfterSaveTo = photo_album_path(@album) if @photo == nil
        returnAfterSaveTo = photo_path(id: @photo.id, e: params[:e], e_id: params[:e_id]) if @photo != nil
        tmpMessage = current_user.album_message_draft(@album) if tmpMessage == nil
    else
       vFlag = false 
    end
elsif @photo != nil
    if !is_not_authorized?
        mType = "comment"
        returnAfterSaveTo = photo_path(id: @photo.id, e: params[:e], e_id: params[:e_id])
    else
        vFlag = false 
    end
elsif @video != nil
    if !is_not_authorized?
        mType = "comment"
        returnAfterSaveTo = video_path(@video)
        tmpMessage = current_user.video_comment_draft(@video) if tmpMessage == nil
    else
        vFlag = false 
    end
else
    vFlag = false 
end

session[:link_after_message_save] = request.env['ORIGINAL_FULLPATH'] if controller.action_name != 'edit' and controller.action_name != 'update'
    
%>
<% if vFlag %>
<div class = "c-box mForm">
    <a name = 'new_message'></a>
        <div id = 'newMsgForm' class = 'm_1000wh tb-pad-s'>
<%
    formClass = "message_form" 
%>
<% if tmpMessage != nil %>
        <%= form_for(tmpMessage, :multipart => 'true', html:{class: formClass, id: "#{formClass}_#{tmpMessage.id}",form_type: mType, intgp: tmpMessage.entity_photos.blank? ? "false" : "true"}) do |f| %>
                <div style = "display: none;"><%= f.file_field :uploaded_photos, :multiple => 'true' if mType != 'comment' %></div>
				<%= f.hidden_field :message_id, :value => @message_to.id if @message_to != nil %>
				<%= f.hidden_field :theme_id, :value => @theme.id if @theme != nil%>
				<%= f.hidden_field :photo_id, :value => @photo.id if @photo != nil%>
				<%= f.hidden_field :video_id, :value => @video.id if @video != nil%>
				<%= f.hidden_field :photo_album_id, :value => @album.id if @album != nil%>
				<%= f.hidden_field :deleted_photos, :value => '' if controller.action_name == 'edit' || controller.action_name == 'update'%>
					<table id = 'msg_table' style = 'width: 100%;'>
						<tr>
							<td id = 'frm' valign = 'top'>
									<table id = 'formMenuTable'>
										<tr>
											<td id = 'formButtons'>
											</td>
										</tr>
										<tr>
											<td id = 'formMenus'>
											</td>
										</tr>
                                        <tr>
                                            <td>
    									<%= f.text_area :content, :cols => 115, :rows => '7', :defaultRows => '7', :placeholder => "#{(mType == 'comment')? "Текст комментария":"Текст сообщения"}", :class=> 't_area', :style => 'width:980px; padding: 10px;', value: tmpMessage.content%>
                                            </td>
                                        </tr>
									</table>
									<div id = 'answr_to_str' style = 'display:<%=(tmpMessage.message != nil)? "block":"none"%>;'><a id = 'ans_link' class = 'b_link_i' href = '#m_<%= tmpMessage.message.id if tmpMessage.message != nil%>'>ответ пользователю <%=tmpMessage.message.user.name if tmpMessage.message != nil%></a></div>
                  <div><p class = 'istring <%=@content_f_color if @content_f_color != nil%>' id = 'cLength'><span id = 'txtL'></span> <span id = 'txtErr'><%=@content_error if @content_error != nil%></span><span id = 'txtErrSrv'><%=@content_error if @content_error != nil%></span></p></div>
								<div class='actions tb-pad-m'>           
									<%= mySubmitButton("Отправить", "submit_#{formClass}_#{tmpMessage.id}").html_safe %>
								</div>
							</td>
							<% if mType != "comment" %>
                                <tr>
                                    <td>
                                        <div id = 'afContainer' class = 'c-box ch-block'><div class = 'm_95p tb-pad-s'> <p class = 'istring'>Вложения:</p><div id = "uploadedAttachmentFiles"></div></div><div class = 'm_95p tb-pad-s'><p class="istring" id="afLength"><span id="txtL"></span> <span id="txtErr"></span><span id="txtErrSrv"></span></p></div></div></div>
                                    </td>
                                </tr>
    							<tr>
    							<td id = 'formPhotos'>
    								<div id = 'uploadedPhotos'>
    								</div>
    								<div><p class = 'istring <%=@photos_f_color if @photos_f_color != nil%>' id = 'iLength'><span id = 'txtL'></span> <span id = 'txtErr'><%=@photos_error if @photos_error != nil %></span><span id = 'txtErrSrv'><%= @photos_error if @photos_error != nil %></span></p></div>
    							</td>
    							</tr>
                            <% end %>
						</tr>
					</table>
					<br />
				
				<% if controller.action_name != 'edit' and controller.action_name != 'update' %>
                    <div id = 'editorPreview' style = 'position: relative; width: 100%; margin-top: 20px; margin-bottom: 20px; '>
				</div>
                <%end%>
        <% end %>
<% else %>
    <p class = 'istring err tb-pad-l'>
        Не удалось сформировать форму для создания нового сообщения
    </p>
<% end %>
    </div>
</div>
<%end%>