<%= navigation_string.html_safe %>
<br />
<div class = 'central_field' id = 'b_wrapper'>
	<br />
	<p id="notice"><%= notice %></p>
	<div id = 'b_wrapper'>
		<% if @theme != nil %>
				<%= theme_show_block(false).html_safe %>
		<% end %>
		<% if @photo != nil %>
			#todo
		<% end %>
		<% if @video != nil %>
			<%= video_show_block.html_safe %>
		<% end %>
		<%= newMessageFormInitial('none', '#new_message').html_safe %>
		<% i=1 %>
		<%= message_theme_box(@message, true, i).html_safe %>
		<% if @messages != [] %>
			<% @messages.each do |message| %>
				<% i+=1 %>
				<%= message_theme_box(message, true, i).html_safe %>
			<% end %>
		<% else %>
			<p class = 'istring norm'>В теме нет ни одного сообщения...</p>
		<% end %>
	</div>  
</div>
<br />
<%= navigation_string.html_safe %>
<br />
<br />
