<div class = 'm_1000wh tb-pad-s'>
    <%= navigation_string.html_safe %>
</div>
<%= my_notice %>
		<% if @theme != nil %>
				<%= theme_show_block(false).html_safe %>
		<% end %>
		<% if @photo != nil %>
			#todo
		<% end %>
		<% if @video != nil %>
			<%= video_show_block.html_safe %>
		<% end %>
		<%= render "form" %>
		<% i=1 %>
		<%= message_theme_box(@message, (@message.status_id > 0 && params[:preview_mode] != 'true'), i).html_safe %>
		<% if @messages != [] %>
			<% @messages.each do |message| %>
				<% i+=1 %>
				<%= message_theme_box(message, true, i).html_safe %>
			<% end %>
		<% else %>
            <div class = 'm_1000wh tb-pad-s'>
			    <p class = 'istring norm'>В теме нет ни одного сообщения...</p>
            </div>
		<% end %>
<div class = 'm_1000wh tb-pad-s'>
    <%= navigation_string.html_safe %>
</div>
