<div class = 'c_box even'>
    <%= my_alert %>
    <div class = 'row tb-pad-m'>
        <div class = "small-12 medium-6 columns end">
        <%= form_for(:session, url: sessions_path(:redirect_to => 'index'), :html => {:id => 'sesForm'}, remote: true) do |f|  %>
            <div id = 'ses_p' >
                <div class = 'row'>
                   <div id = "session-message-text" class = 'small-12 columns'>
                       
                   </div>
                </div>
                <div class = 'row'>
                   <div class = 'small-12 columns end'>
                       <%= f.text_field :name, :placeholder => 'Логин или E-mail' %>
                   </div>
                </div>
                <div class = 'row'>
                    <div class = 'small-12 columns end'>
                       <%= f.password_field :password, :placeholder => 'Пароль' %>
                    </div>
                </div>
            </div>
            <div class = "row">
                <div class = 'small-12 columns end'>
                   <div class="button-group tb-pad-s">
                       <button class = "success button">Войти</button>
                       <%= link_to 'Регистрация', signup_path, class: 'primary button' %>
                       <%= link_to 'Забыли пароль?', remember_password_path, class: 'primary button' %>
                   </div>
                </div>
            </div>
        <% end %>
    </div>
   </div>
</div>
