<% article_errors %>
<%= form_for(@formArticle) do |f| %>
	<%= f.hidden_field :article_type_id, :value => @type[:value] %>
<table style = 'width: 100%;'>
    <tr>
        <td>
            <%= f.label :accident_date, 'Лётное происшествие от ' %><br />
            <%= f.datetime_select :accident_date, :start_year => 2000, :end_year => Date.today.year, :order => [:day, :month, :year], :use_month_names => ['Январь', 'Февраль', 'Март', 'Апрель', 'Май', 'Июнь', 'Июль', 'Август', 'Сентябрь', 'Октябрь', 'Ноябрь', 'Декабрь'], :html_options => {:class => 'c_select'} %>
        </td>
    </tr> 
	<tr>
		<td align = 'left'>
			<%= f.label :content, 'Содержание отчёта' %><br /><br />
			<table id = 'formMenuTable'>
				<tr>
					<td id = 'formButtons'>
					</td>
				</tr>
			</table>
              <div class = 'central_field' style = 'width:98%;'>
                  <%= f.text_area :content, :rows => '7', :defaultRows => '7', :class=> 't_area', :onkeyup => 'changingTextarea(this)', :style => 'width: 99%;' %>
              </div>
			<div><p class = 'istring <%= @content_f_color if @content_f_color != nil %>' id = 'cLength'><span id = 'txtL'></span> <span id = 'txtErr'><%= @content_error.html_safe if @content_error != nil %></span><span id = 'txtErrSrv'><%= @content_error if @content_error != nil %></span></p></div>
              <br /><%= f.label :visibility_status_id, ('<img src="/files/privacy_g.png" style = "width: 20px;float: left;"/> Скрыть от не авторизованных пользователей').html_safe %> <%= f.check_box :visibility_status_id, {:class=>'check_box'}, '2', '1' %> <br /> 
			<div class="actions">
				<%= f.submit 'Сохранить отчёт', :class => 'butt' %>
			</div>
		</td>
	</tr>
	<tr>
		<td id = 'formPhotos'>
			<div class = 'dropzone' id = 'ph_to_frm'>
			</div>
			<div id = 'uploadedPhotos'>
			</div>
			<div><p class = 'istring <%= @photos_f_color if @photos_f_color != nil %>' id = 'iLength'><span id = 'txtL'></span> <span id = 'txtErr'><%= @photos_error.html_safe if @photos_error != nil %></span><span id = 'txtErrSrv'><%= @photos_error if @photos_error != nil %></span></p></div>
		</td>
	</tr>
</table>
<% end %>