<% article_errors %>
<div id = 'articleForm'>
<%= form_for(@formArticle) do |f| %>
	<%= f.hidden_field :article_type_id, :value => @type[:value] %>
	<%= f.hidden_field :assigned_albums, :value => @formArticle.already_assigned_albums %>
	<%= f.hidden_field :assigned_videos, :value => @formArticle.already_assigned_videos %>
		<div class = 'field'>
			
			<table style = 'width: 100%;'>
               <% if is_super_admin? %>
                <tr>
                    <td>
                        <%= f.label :accident_date, 'Дата публикации' %><br />
                        <%= f.date_select :accident_date, :start_year => 2000, :end_year => Date.today.year, :order => [:day, :month, :year], :use_month_names => ['Январь', 'Февраль', 'Март', 'Апрель', 'Май', 'Июнь', 'Июль', 'Август', 'Сентябрь', 'Октябрь', 'Ноябрь', 'Декабрь'] %><br /><br />
                    </td>
                </tr>
                <% end %>
                <tr>
                    <td>
                		<%= f.label :attachment_files, 'Загрузить документ' %> 
                		<%= f.file_field :attachment_files, :multiple => true %>
                    </td>
                </tr>
				<tr>
					<td>
						<%= f.label :name, 'Название документа' %><br />
						<%= f.text_field :name, :size => 100, :class => 't_field', :style => 'width: 99%;' %>	<br />
						<div>
							<p class = 'istring <%= @name_f_color if @name_f_color != nil %>' id = 'nLength'>
								<span id = 'txtL'></span> 
								<span id = 'txtErr'>
									<%= @name_error.html_safe if @name_error != nil %>
								</span>
								<span id = 'txtErrSrv'>
									<%= @name_error if @name_error != nil %>
								</span>
							</p>
							<br /> <br />
						</div>
					</td>
				</tr>
				<tr>
					<td align = 'left'>
						<%= f.label :content, 'Описание документа' %><br /><br />
						<table id = 'formMenuTable'>
							<tr>
								<td id = 'formButtons'>
								</td>
							</tr>
						</table>
                        <div class = 'central_field' style = 'width:98%;'>
                            <%= f.text_area :content, :rows => '7', :defaultRows => '7', :class=> 't_area', :onkeyup => 'changingTextarea(this)', :style => 'width: 99%;' %>
                        </div>
						<div><p class = 'istring <%= @content_f_color if @content_f_color != nil %>' id = 'cLength'><span id = 'txtL'></span> <span id = 'txtErr'><%= @content_error.html_safe if @content_error != nil %></span><span id = 'txtErrSrv'><%= @content_error if @content_error != nil %></span></p></div>
						              <br /><%= f.label :visibility_status_id, ('<img src="/files/privacy_g.png" style = "width: 20px;float: left;"/> Скрыть от не авторизованных пользователей').html_safe %> <%= f.check_box :visibility_status_id, {:class=>'check_box'}, '2', '1' %> <br /> 
                        <div class="actions">
							<%= f.submit 'Добавить', :class => 'butt' %>
						</div>
					</td>
				</tr>
			</table>			
		</div>
<% end %>
</div>
 <br /> <br /> <br /> <br />