<div class = 'm_1000wh tb-pad-s'>
	<%= navigation_string.html_safe %>
</div>
<div class = 'c_box even'>
	<div class = 'm_1000wh tb-pad-m'>
        <%= form_for(:merge_theme, :url => '/do_merge_themes', html: {id: 'merge_themes_form'}) do |f| %>
            <p class = 'istring norm'>Выберите целевую тему и нажмите "Объединить"</p>
            <div class = 'section group'>
    			    <div class = 'col span_5_of_12'>
        				<div class = 'field tb-pad-s'>
        					<%= f.hidden_field :current_theme, :value => @theme.id %>
        					<%= f.label :topic_id, "Раздел:" %><br /> <%= my_collection_select(@collection, "topic_id", "merge_theme", @default, "") %> 
        				</div>
                    </div>
    			    <div class = 'col span_5_of_12'>
        				<div class = 'field tb-pad-s'>
        					<%= f.label :new_theme_id, "Целевая тема:" %><br />
        					<%= my_collection_select(@themes_collection, "theme_id", "merge_theme", {}, "Выберите тему из списка") %> <br />
        				</div>
                    </div>
            </div>
			<div class = 'field tb-pad-s'>
				<%= f.submit "Объединить", :class => 'butt' %>
			</div>
        <% end %>
	</div>
</div>
<div class = 'cBoxSplitter'>
    <div class = 'm_1000wh'>
        <h3>Целевая тема</h3>
    </div>
</div>
<div class = 'c_box odd'>
	<div class = 'm_1000wh tb-pad-s'>
		<div id = 'target_theme'>
		</div>
	</div>
</div>
<div class = 'cBoxSplitter'>
    <div class = 'm_1000wh'>
        <h3>Совмещаемая тема</h3>
    </div>
</div>
<div class = 'm_1000wh tb-pad-s'>
    <h3><%= @theme.name %></h3>
</div>
<%= theme_show_block(false).html_safe %>
<div class = 'm_1000wh tb-pad-s'>
	<%= navigation_string.html_safe %>
</div>