<div class = 'm_1000wh tb-pad-s'>
    <%= navigation_string.html_safe %>
</div>
<%= my_notice %>
<%= theme_show_block(true).html_safe %>
<% if @messages != [] %>
	<% i=0 %>
	<% @messages.each do |message| %>
		<% i+=1 %>
		<%= message_theme_box(message, true, i).html_safe %>
	<% end %>
<% else %>
	<div class = 'm_1000wh'>
		<p class = 'istring norm tb-pad-m'>В теме нет ни одного сообщения...</p>
	</div>
<% end %>
<%= newMessageFormInitial.html_safe %>
<div class = 'm_1000wh tb-pad-m'>
	<%= navigation_string.html_safe %>
</div>
