<div class = 'm_1000wh tb-pad-s'>
    <%= navigation_string.html_safe %>
</div>
<%= my_notice %>
<%= theme_show_block(true).html_safe %>
<%= render "messages" %>
<div class = 'm_1000wh tb-pad-s'>
	<%= navigation_string.html_safe %>
</div>
<%= whoIsOnlineMenu %>