<%= render 'events/mini_block' if !@events.blank? %>
<div class = 'c_box even'>
    <div class = 'm_1000wh' style = 'z-index: 15;'>
        <div class = 'section group'>
            <div class = 'col span_4_of_12'>
                <%= top_index_topic_buttons.html_safe %>
            </div>
            <div class = 'col span_3_of_12'>
            </div>
            <% if user_type == 'super_admin' %>
                <form id='searchForm'>
                    <div class = 'col span_4_of_12' style = 'padding-top: 5px;'>
                        
                                    <input type = 'hidden' name = 'in_themes_and_messages' value = 'on'/>
                                    <% topics = Topic.all %>
                                    <% topics.each do |topic| %>
                                        <% h = "t_#{topic.id}".to_sym %>
                                        <input type = 'hidden' name = 't_<%= topic.id.to_s %>' value = 'on'/>
                                    <% end %>
                                    <input type = 'hidden' value = 'on' name = 'o_gb' />
                                            <input id = 'search_query' type='text' name = 'search_query' placeholder = 'Что ищете?' class = 'sQuery' />      
                    </div>
                    <div class = 'col span_1_of_12' style = 'padding-top: 5px;' data-no-turbolink> 
                        <%= myLinkButton('искать', '/search').html_safe %>
                    </div>
                </form>
            <%end%>
        </div>
    </div>
</div>

<div class = 'c_box odd'>
	<div class = 'm_1000wh tb-pad-m' >
		<% 
            topics = Topic.all 
    		i = 0
        %>
        <% if topics != [] %>
            <% topics.each do |t| %>
                <% if i == 0 %>
                    <div class = 'section group'>
                <% end %>
                <% i += 1 %>
                    <div class = 'col span_6_of_12'>
                        <%= topic_mini_block_content(t).html_safe %>
                    </div>
                <% if i == 2 %>
                    </div>
                    <% i = 0 %>
				<% end %>
            <% end %>
            <% if i == 0 %>
                <div class = 'section group'>
            <% end %>
                <div class = 'col span_6_of_12'><%= guest_book_vl_block.html_safe %></div>

                </div>
        <% end %>
	</div>
</div>
<%= whoIsOnlineMenu %>




