<div class = 'cBoxSplitter'>
    <div class = 'central_field' id = 'm_1000wh'>
         <h3>Изменение E-mail адреса</h3>
     </div>
</div>
<div class = 'c_box even'>
    <div class = 'central_field' id = 'm_1000wh'>
        <br />
            <%= form_for(@user) do |f| %>
            <input type = 'hidden' name = 'tab' value = 'email_upd'>
            <% user_errors %>
            	<table style = 'width: 100%;'>
            	<tr>
            		<td align = 'right' valign = 'middle' style = 'width: 150px; height: 30px;'>
            			<%= f.label "Текущий пароль" %><span title = "Поля обязательные для заполнения" style = "color: red;">*</span>
            		</td>
            		<td align = 'left' valign = 'top' <%= @cur_pswrd_f_color.html_safe %> >
            			 <%= @cur_pswrd_error.html_safe %>
            			 <%= f.password_field :current_password, :class => 't_field' %>
            		</td>
            	</tr>
            	<tr>
            		<td align = 'right' valign = 'top' style = 'width: 150px; height: 30px;'>
            			<img src="/files/mail.png" valign = 'middle' > <%= f.label "E-mail" %><span title = "Поля обязательные для заполнения" style = "color: red;">*</span>
            		</td>
            		<td align = 'left' valign = 'top' <%= @mail_f_color.html_safe %>>
            			<%= @mail_error.html_safe %><%= f.text_field :email, :class => 't_field' %>
            		</td>
            	</tr>
              </table>
            	  <%= f.submit 'Сохранить', :class => 'butt' %>
             <% end %>
        <br />
    </div>
</div>

