<%= my_notice %>
<div class = 'cBoxSplitter'>
     <div class = 'm_1000wh'><h3>Основные данные</h3></div>
</div>
<%= form_for(@user, html: {class: 'new_user_form'}) do |f| %>
<div class = 'c_box odd'>
    <div class = 'm_1000wh tb-pad-m'>
        
        <% @antibot = @user.get_default_antibot_image %>
        <input type = 'hidden' name = abi[name] value = '<%= @antibot[:name] %>' >
        <%= f.hidden_field :guest_token, value: guestToken %>
        <% user_errors %>
	   
	        <% if user_type == 'admin' or user_type == 'super_admin' %>
	        <div class = 'field'>
	            <%= f.label :user_group_id, 'Группа' %>
	            <%= my_collection_select(@user.user_groups, 'user_group_id', 'user', {}, '' ) %>
	        </div>
	        <% end %>
	        <div class = 'field'>
	            <%= f.label :name, 'Ник' %><span title = "Поля обязательные для заполнения" style = "color: red;">*</span><br />
                <%= f.text_field :name, :class => 't_field' %><span id = "user_name_check">  <span id = "length"></span><span class = 'istring' id = "errDesc"></span></span>
            </div>
	        <div class = 'field'>
	            <i class = 'fi-key fi-medium'></i> <%= f.label "Пароль" %><span title = "Поля обязательные для заполнения" style = "color: red;">*</span><br />
	            <%= f.password_field :password, :title => "От 6 до 40 знаков", :class => 't_field' %> <span id = "user_password_check">  <span id = "length"></span><span class = 'istring' id = "errDesc"></span></span>
	        </div>
	        <div class = 'field'>
	            <%= f.label "Подтверждение пароля" %><span title = "Поля обязательные для заполнения" style = "color: red;">*</span><br /> 
	            <%= f.password_field :password_confirmation, :title => "От 6 до 40 знаков", :class => 't_field' %> <span id = "user_password_confirmation_check">  <span id = "length"></span><span class = 'istring' id = "errDesc"></span></span>
	        </div>
	        <div class = 'field'>
		        <i class = 'fi-mail fi-medium'></i> <%= f.label "E-mail" %><span title = "Поля обязательные для заполнения" style = "color: red;">*</span><br />
	            <%= f.text_field :email, :class => 't_field' %> <span id = "user_email_check">  <span id = "length"></span><span class = 'istring' id = "errDesc"></span></span>
	        </div>
      </div>
</div>
<div class = 'cBoxSplitter'>
     <div class = 'm_1000wh'><h3>Дополнительная информация</h3></div>
</div>
<div class = 'c_box even'>
    <div class = 'm_1000wh tb-pad-m'>
    	<div class = 'field'>
    		<%= f.label :full_name, 'Полное имя' %><br />
    		<%= f.text_field :full_name, :class => 't_field' %>
    	</div>
    	<div class = 'field'>
    		<i class = 'fi-telephone fi-medium'></i> <%= f.label :cell_phone, 'Контактный номер' %><br /> 
    		<%= f.text_field :cell_phone, :class => 't_field' %>
    	</div>
    	<div class = 'field'>
    		<i class = 'fi-social-skype fi-medium'></i> <%= f.label :skype, 'Skype' %><br /> 
    		<%= f.text_field :skype, :class => 't_field' %>
    	</div>
    	<div class = 'field'>
    			<i class = 'fi-web fi-medium'></i> <%= f.label :web_site, 'Сайт' %><br />  
    			<%= f.text_field :web_site, :class => 't_field' %>
    	</div>
    	<div class = 'field'>
    		<%= f.label :inform, 'О себе' %><br /> 
    		<%= f.text_area :inform, :rows => '10', :cols => '60', :class => 't_area' %>
    	</div>
    </div>
</div>
<div class = 'c_box odd'>
    <div class = 'm_1000wh tb-pad-m'>
        <p class = 'istring'>Введите текст отображенный на картинке</p>
        <br />
        <img src = '/antibot_images/<%= @antibot[:name] %>.png' width = '150px'><br />
        <input type = 'text' name = abi[value] class = "t_field"> 
		<div class='actions tb-pad-m'>           
			<%= mySubmitButton("Подтвердить регистрацию", "submit_new_user_form").html_safe %>
		</div>
    </div>
</div>
<% end %>
