<div class = 'cBoxSplitter'>
    <div class = 'm_1000wh'>
		<h3>Дополнительная информация</h3>
	</div>
</div>
<%= form_for(@user) do |f| %>
<input type = 'hidden' name = 'tab' value = 'data_upd'>
<div class = 'c_box odd'>
    <div class = 'm_1000wh tb-pad-s'>
    	<table style = 'width: 100%;'>
    		<% if user_type == 'admin' or user_type == 'super_admin' %>
    			<tr>
    				<td align = 'right' valign = 'middle' style = 'width: 130px; height: 30px;'>
    					<i class = 'fi-torsos-all fi-medium'></i> <%= f.label :user_group_id, 'Группа' %>
    				</td>
    				<td align = 'left' valign = 'middle'>
    					<%= my_collection_select(@user.user_groups, 'user_group_id', 'user', @user.user_group, '' ) %>
    				</td>
    			</tr>
    		<% end %>
    		<tr>
    			<td align = 'right' valign = 'middle' style = 'width: 150px; height: 30px;'>
    				<%= f.label :full_name, 'Полное имя' %>
    			</td>
    			<td align = 'left' valign = 'middle'>
    				<%= f.text_field :full_name, :class => 't_field' %>
    			</td>
    		</tr>
            <% if is_admin? %>
    		<tr>
    			<td align = 'right' valign = 'middle' style = 'width: 150px; height: 30px;'>
    				<%= f.label :role, 'Роль в клубе' %>
    			</td>
    			<td align = 'left' valign = 'middle'>
    				<%= f.text_field :role, :class => 't_field' %> 
    			</td>
    		</tr>
    		<tr>
    			<td align = 'right' valign = 'middle' style = 'width: 150px; height: 30px;'>
    				<%= f.label :order_number, 'Роль в клубе' %>
    			</td>
    			<td align = 'left' valign = 'middle'>
    				<%= f.number_field :order_number, :class => 't_field' %> 
    			</td>
    		</tr>
            <% end %>
    		<tr>
    			<td align = 'right' valign = 'middle' style = 'width: 150px; height: 30px;'>
    				<i class = 'fi-telephone fi-medium'></i> <%= f.label :cell_phone, 'Контактный номер' %> 
    			</td>
    			<td align = 'left' valign = 'middle'>
    				<%= f.text_field :cell_phone, :class => 't_field' %>
    			</td>
    		</tr>
    		<tr>
    			<td align = 'right' valign = 'middle' style = 'width: 150px; height: 30px;'>
    				<i class = 'fi-social-skype fi-medium'></i> <%= f.label :skype, 'Skype' %> 
    			</td>
    			<td align = 'left' valign = 'middle'>
    				<%= f.text_field :skype, :class => 't_field' %>
    			</td>
    		</tr>
    		<tr>
    			<td align = 'right' valign = 'middle' style = 'width: 150px; height: 30px;'>
    				<i class = 'fi-web fi-medium'></i> <%= f.label :web_site, 'Сайт' %> 
    			</td>
    			<td align = 'left' valign = 'middle'>
    				<%= f.text_field :web_site, :class => 't_field' %>
    			</td>
    		</tr>
    		<tr>
    			<td align = 'right' valign = 'top' style = 'width: 150px; height: 30px;'>
    				<%= f.label :inform, 'О себе' %>
    			</td>
    			<td align = 'left' valign = 'top'>
    				<%= f.text_area :inform, :rows => '10', :cols => '60', :class => 't_area' %>
    			</td>
    		</tr>
    	  </table>
    </div>
</div>
<div class = 'cBoxSplitter'>
    <div class = 'm_1000wh'>
		<h3>Аватар и фото</h3>
	</div>
</div>
<div class = 'c_box even'>
    <div class = 'm_1000wh tb-pad-s'>
        <table style = 'width: 100%;'>
        	<tr>
        		<td align = 'right' valign = 'middle' style = 'width: 130px; height: 30px;'>
        			<%= f.label :avatar, 'Выберите аватар' %> 
        		</td>
        		<td align = 'left' valign = 'middle'>
        			<%= f.file_field :avatar %><%= f.hidden_field :avatar_cache %>
        		</td>
        	</tr>
        	<tr>
        		<td align = 'right' valign = 'middle' style = 'width: 130px; height: 30px;'>
        			<%= f.label :photo, 'Выберите фотографию' %> 
        		</td>
        		<td align = 'left' valign = 'middle'>
        			<%= f.file_field :photo %><%= f.hidden_field :photo_cache %>
        		</td>
        	</tr>
        </table>
    </div>
</div>
<div class = 'm_1000wh tb-pad-s'>
 <%= f.submit 'Сохранить', :class => 'butt' %>
</div>
<% end %>