<% @title = 'Уведомления на почту' %>
<% @mailer = @user.mailer %>
<div class = 'cBoxSplitter'>
    <div class = 'central_field' id = 'm_1000wh'>
        <h3><%= @title %></h3>
    </div>
</div>
<div class = 'c_box even'>
    <div class = 'central_field' id = 'm_1000wh' style = 'padding: 20px 0 20px 0;'>
           <span class = 'istring norm medium-opacity'>Уведомления на электронный адрес:</span> <span class = 'istring norm'><%= @user.email %></span> <%= link_to 'Изменить', edit_user_path(:id => @user.id, :tab => "email_upd"), :class => "b_link" if (@mailer.user == current_user and user_type != 'bunned') or user_type == 'admin' %> <br />
<% if @user.email_status == 'Активен' %>
		<%= form_for(@mailer, :url => "/users/#{@user.id.to_s}/update_mailer", :method => 'PUT') do |f| %>
		<div class = "central_block" style = "width: 700px;">
            <div id = "form_second_block">
				<%= f.check_box :album, {:class => 'check_box'}, "yes", "no" %>
				<%= f.label :album, "Новые альбомы" %><br />
				<%= f.check_box :video, {:class => 'check_box'}, "yes", "no" %>
				<%= f.label :video, "Новые видео" %><br />
				<%= f.check_box :article, {:class => 'check_box'}, "yes", "no" %>
				<%= f.label :article, "Новые статьи" %><br />
				<%= f.check_box :message, {:class => 'check_box'}, "yes", "no" %>
				<%= f.label :message, "Новые сообщения" %><br />
				<%= f.check_box :photo_comment, {:class => 'check_box'}, "yes", "no" %>
				<%= f.label :photo_comment, "Коментарии к фотографиям" %><br />
				<%= f.check_box :video_comment, {:class => 'check_box'}, "yes", "no" %>
				<%= f.label :video_comment, "Коментарии к видео" %>
				<br />
				<%= f.submit 'Сохранить', :class => 'butt' %>
			</div>
		</div>
		<% end %>
<%else%>
   <p class = istring norm medium-opacity>Адрес элетронной почты не подтверждён. Если на указанный Вами адрес электронной почты не приходило сообщение вы можете повторно отправить сообщение нажав на ссылку ниже.</p>
   <span id = 'wait_message_send'><a id = 'sendCheckMail' class = 'b_link' style = 'font-size: 14px;' href = '/send_email_check_message.json?id=<%= @user.id.to_s %>' data-remote = 'true' >Отправить проверочное сообщение</a></span>
<%end%>
    </div>
</div>
<% topics = Topic.all %>
<% if topics != [] %>
<div class = 'cBoxSplitter'>
    <div class = 'central_field' id = 'm_1000wh'>
        <h3>Отслеживание новых тем в разделах</h3>
    </div>
</div>
<div class = 'c_box odd'>
	<div class = 'central_field' id = 'm_1000wh' style = 'padding: 20px 0 20px 0;'>
		<%= form_for(:topic_notifications, :url => "/topic_notifications", :method => 'post') do |f| %>
			<%= f.hidden_field :type, :value => 'multiple' %>
			<% topics.each do |t|  %>
				<% if current_user.getTopicNotification(t.id) != nil %>
					<%= f.check_box t.id, {:class => 'check_box', :checked => true} %>
				<% else %>
					<%= f.check_box t.id, {:class => 'check_box'} %>
				<% end %>
				<%= f.label t.id, t.name %><br />
			<% end %>
			<%= f.submit 'Сохранить', :class => 'butt' %>
		<% end %>
	</div>
</div>
<% end %>	
<% themeNtfs = @user.theme_notifications %>
<div class = 'cBoxSplitter'>
    <div class = 'central_field' id = 'm_1000wh'>
        <h3>Отслеживание новых сообщений в темах</h3>
    </div>
</div>
<div class = 'c_box even'>
	<div class = 'central_field' id = 'm_1000wh' style = 'padding: 20px 0 20px 0;'>
		<% if themeNtfs != [] %>
				<table class = 'v_table' id = 'themes_list'>
					<tr>
						<th id = 'first'>
							Тема
						</th>
						<th>
							Автор темы
						</th>
						<th title = 'Дата крайнего сообщения в теме'>
							Дата
						</th>
						<th>
							Информация
						</th>
						<th id = 'last'>
						</th>
					</tr>
				
			
			<% themeNtfs.each do |n| %>
				<% last_msg = n.theme.last_message %>
				<tbody >
					<tr>
						<td id = 'first'>
							<%= link_to n.theme.name, n.theme, :target => '_blank', :class => 'b_link' %>
						</td>
						<td>
							<%= n.theme.user.name %>
						</td>
						<td class = 'date'>
							<% if last_msg != nil  %>
								<%= my_time(last_msg.created_at)  %>
							<%else%>
								<%= my_time(n.theme.created_at) %>
							<%end%>
						</td>
						<td>
							<%= themeInformation(n.theme).html_safe %>
						</td>
						<td id = 'last'>
							<%= control_buttons([themeNotificationButton(n.theme.id)]).html_safe %>
						</td>
					</tr>
				</tbody>
			<% end %>
				</table>
		<% else %>
			<p class = 'istring norm'>Список отслеживаемых тем пуст...</p>
		<% end %>
	</div>
</div>			