<% @title = 'Уведомления на почту' %>
<% @mailer = @user.mailer %>
<div class = 'cBoxSplitter'>
    <div class = 'central_field' id = 'm_1000wh'>
         <h3><%= @title %></h3>
     </div>
</div>
<div class = 'c_box even'>
    <div class = 'central_field' id = 'm_1000wh'>
        <br />
           <span class = 'istring norm medium-opacity'>Уведомления на электронный адрес:</span> <span class = 'istring norm'><%= @mailer.email %></span> <%= link_to 'Изменить', edit_user_path(:id => @user.id, :tab => "email_upd"), :class => "b_link" if (@mailer.user == current_user and user_type != 'bunned') or user_type == 'admin' %><br />
		<%= form_for(@mailer, :url => "/update_mailer?id=#{@mailer.id.to_s}") do |f| %>
		<div class = "central_block" style = "width: 700px;">
			<div id = "form_second_block">
				<%= f.check_box :album, {:class => 'check_box'}, "yes", "no" %>
				<%= f.label :album, "Новые альбомы" %><br />
				<%= f.check_box :video, {:class => 'check_box'}, "yes", "no" %>
				<%= f.label :video, "Новые видео" %><br />
				<%= f.check_box :article, {:class => 'check_box'}, "yes", "no" %>
				<%= f.label :article, "Новые статьи" %><br />
				<%= f.check_box :message, {:class => 'check_box'}, "yes", "no" %>
				<%= f.label :message, "Новые сообщения" %><br />
				<%= f.check_box :photo_comment, {:class => 'check_box'}, "yes", "no" %>
				<%= f.label :photo_comment, "Коментарии к фотографиям" %><br />
				<%= f.check_box :video_comment, {:class => 'check_box'}, "yes", "no" %>
				<%= f.label :video_comment, "Коментарии к видео" %>
				<br />
				<%= f.submit 'Сохранить', :class => 'butt' %>
			</div>
		</div>
		<% end %>
        <br />
    </div>
</div>
					