<div class = 'cBoxSplitter'>
    <div class = 'central_field' id = 'm_1000wh'>
     <h3>Изменение пароля</h3>
 </div>
</div>
<%= form_for(@user) do |f| %>
            <input type = 'hidden' name = 'tab' value = 'password_upd'>
<div class = 'c_box even'>
    <div class = 'central_field' id = 'm_1000wh'>
        <br />
            <% if params[:value_s] == params[:value_s] %><input type = 'hidden' name = 'value_s' value = '<%= params[:value_s] %>'><% end %>
            <% user_errors %>
            	<table style = 'width: 100%;'>
            	<% if params[:value_s] != @user.salt %>
            		<tr>
            			<td align = 'right' valign = 'middle' style = 'width: 150px; height: 30px;'>
            				<%= f.label "Старый пароль" %><span title = "Поля обязательные для заполнения" style = "color: red;">*</span>
            			</td>
            			<td align = 'left' valign = 'top' <%= @old_pswrd_f_color.html_safe %> >
            				 <%= @old_pswrd_error.html_safe %>
            				 <%= f.password_field :old_password, :class => 't_field' %>
            			</td>
            		</tr>
            	<% end %>
            	<tr>
            		<td align = 'right' valign = 'middle' style = 'width: 150px; height: 30px;'>
            			<%= f.label "Пароль" %><span title = "Поля обязательные для заполнения" style = "color: red;">*</span>
            		</td>
            		<td align = 'left' valign = 'top' <%= @pswrd_f_color.html_safe %> >
            			 <%= @pswrd_error.html_safe %>
            			 <%= f.password_field :password, :title => "От 6 до 40 знаков", :class => 't_field' %> 
            		</td>
            	</tr>
            	<tr>
            		<td align = 'right' valign = 'middle' style = 'width: 150px; height: 30px;'>
            			<%= f.label "Повтор пароля" %><span title = "Поля обязательные для заполнения" style = "color: red;">*</span>
            		</td>
            		<td align = 'left' valign = 'top' >
            			<%= f.password_field :password_confirmation, :title => "От 6 до 40 знаков", :class => 't_field' %>
            		</td>
            	</tr>  
              </table>
              <br /><%= f.submit 'Сохранить', :class => 'butt' %>
        <br /><br />
    </div>    
</div>
      
 <% end %>
<br />
<br />