<% @title = 'Изменение персональных данных' %>
<div class = 'c_box'>
    <div class = 'central_field' id = 'm_1000wh'>
    	<%= control_buttons(edit_path_buttons).html_safe %>
    </div>
</div>
<div class = 'c_box'>
	<div class = 'central_field' id = 'm_1000wh'>
        <br />
        <h1><%= @title %></h1>
        <br />
	</div>
</div>
	    <p id="notice"><%= notice %></b></p>
	    <%= render 'main_inform_update' if params[:tab] == nil or params[:tab] == '' or params[:tab] == 'data_upd' %>
        <%= render 'password_update' if params[:tab] == 'password_upd' %>
        <%= render 'email_update' if params[:tab] == 'email_upd' %>
	    <%= render 'notifications_update' if params[:tab] == 'notification_upd' %>
