<div class = 'row tb-pad-s'>
    <div class = 'small-12 medium-9 columns'>
    	<%= users_paths_buttons.html_safe %>
    </div>
    <div class = 'small-12 medium-3 columns'>
    	<%= will_paginate @users %>
    </div>
</div>

    <% if @users != [] %>
        <%i=0%>
        <%if @users.first.user_group_id == 6%>
            <div class = 'row tb-pad-s'>
                <div class = 'small-9 columns'>
                    <h2>
                        Лица клуба
                    </h2>
                </div>
            </div>
            <%prev_group_id = 6%>
        <%else%>
            <%prev_group_id = 2%>
        <%end%>
		<% @users.each do |user| %>
            <%if prev_group_id == 6 && user.user_group_id != 6%>
                <div class = 'c_box'>
                    <div class = 'row tb-pad-s'>
                        <div class = 'small-12 columns'>
                            <h2>
                                Клубные пилоты
                            </h2>
                        </div>
                    </div>
                </div>
                <%prev_group_id = user.user_group_id%>
            <%end%>
			    <%= user_index_list(user, i) %>
            <%i+=1%>
		<% end %>
	<% else %>
        <%= no_values_message("torso", "Нет ни одного пользователя в данной категории").html_safe %>
	<% end %>
<div class = 'row tb-pad-s'>
    <div class = 'small-9 columns'>
    	<%= users_paths_buttons.html_safe %>
    </div>
    <div class = 'small-3 columns'>
    	<%= will_paginate @users %>
    </div>
</div>