<div class = 'm_1000wh'>
	<h1>
		<%= @title %>
	</h1>
</div>
<div class = 'm_1000wh'>
	<div class = 'section group'>
		<div class = 'col span_9_of_12'>
			<%= users_paths_buttons.html_safe %>
		</div>
		<div class = 'col span_3_of_12'>
			<%= will_paginate @users %>
		</div>
	</div>
</div>
<div id = 'b_wrapper' style='min-height: 400px;'>
	<% if @users != [] %>
        <%i=0%>
		<% @users.each do |user| %>
			<%= user_index_list(user, i) %>
            <%i+=1%>
		<% end %>
	<% else %>
        <div class = 'm_1000wh'>
            <br />
            <br />
            <p class = 'istring norm'>Нет ни одного пользователя в данной категории</p>
        </div>
	<% end %>
</div>
<div class = 'm_1000wh'>
	<div class = 'section group'>
		<div class = 'col span_9_of_12'>
			<%= users_paths_buttons.html_safe %>
		</div>
		<div class = 'col span_3_of_12'>
			<%= will_paginate @users %>
		</div>
	</div>
</div>