<div class = 'c_box'>
    <div class = 'central_field' id = 'm_1000wh'>
        <br />
        <h1><%= @title %></h1>
        <br />
        <p class = 'istring medium-opacity'>В случае правильности введённых Вами данных, на указанный почтовый адрес будет отправлено письмо содержащее ссылку на восстановление пароля.</p><br />
        <p class = 'notice'><%= notice %></p>
        <%= form_for(:user, :url => '/make_mail') do |f|  %>
        	<div class = 'field'>
        		<%= f.label :name, 'Ник' %><br />
        		<%= f.text_field :name, :size => 33, :class => 't_field'  %>
        	</div>
        	<div class = 'field'>
        		<%= f.label :email, 'Почтовый адрес (Указанный на сайте)' %><br />
        		<%= f.text_field :email, :size => 33, :class => 't_field' %>
        	</div>
        	<div class = 'field'>
        		<%= f.submit "Восстановить пароль", :class => 'butt' %>
        	</div>
        <% end %>
    </div>
   
</div>