<%= form_for(:user, :url => '/make_mail') do |f|  %>
<div class = 'c_box even'>
    <%= my_alert %>
    <%= my_notice %>
    <div class = 'm_1000wh tb-pad-m'>
        <p class = 'istring medium-opacity'>В случае правильности введённых Вами данных, на указанный почтовый адрес будет отправлено письмо содержащее ссылку на восстановление пароля.</p><br />
            <% user = User.new %>
            <% antibot = user.get_default_antibot_image %>
            <input type = 'hidden' name = 'abi[name]' value = '<%= antibot[:name] %>' >
        	<div class = 'field'>
        		<%= f.label :email, 'Почтовый адрес (Указанный на сайте)' %><br />
        		<%= f.text_field :email, :size => 33, :class => 't_field' %>
        	</div>       
    </div> 
</div>
<div class = 'c_box odd'>
    <div class = 'm_1000wh tb-pad-m'>
        <p class = 'istring'>Введите текст отображенный на картинке</p>
        <br />
        <img src = '/antibot_images/<%= antibot[:name] %>.png' width = '150px'><br />
        <input type = 'text' name = 'abi[value]' class = "t_field" autocomplete = 'off' >
    	
        <div class = 'field'>
    		<br /><%= f.submit "Восстановить пароль", :class => 'butt' %>
    	</div>
    </div>
</div>

<% end %>