<%= form_for(:user, :url => '/make_mail', html: {novalidate: true, id: "remember-password"}) do |f|  %>
<div class = 'c_box even'>
    <%= my_alert %>
    <%= my_notice %>
    <div class = "tb-pad-m">
        <div class = 'row'>
            <div class = "small-12 medium-6 columns end">
                <p class = 'istring medium-opacity'>В случае правильности введённых Вами данных, на указанный почтовый адрес будет отправлено письмо содержащее ссылку на восстановление пароля.</p><br />
                <% user = User.new %>
                <% antibot = user.get_default_antibot_image %>
                <%= hidden_field :abi, :name, value: antibot[:name] %>
            	<div class = 'field'>
            		<%= f.label :email, 'Почтовый адрес (Указанный на сайте)' %>
            		<%= f.text_field :email, :class => 't_field', required: true, pattern: "email", placeholder: "example@visota63.ru" %> 
                    <span id = "email_error" class="form-error">Почтовый адрес должен соответствовать формату</span>
            	</div> 
            </div>     
        </div>
        <div class = 'row tb-pad-m'>
            <div class = 'small-12 medium-6 columns end'>
                <img src = '/antibot_images/<%= antibot[:name] %>.png' width = '150px'><br />
                <%= label :abi, :value, "Введите текст отображенный на картинке" %>
                <%= text_field :abi, :value, class: "t_field", autocomplete: "off", required: true %>
                <span class="form-error">Вы забыли ввести текст с картинки</span>
                <div class = 'field'>
            		<button type = "submit" class = "success button">Восстановить пароль</button>
            	</div>
            </div>      
        </div>
    </div>
</div>

<% end %>