<div class = 'c_box even'>
    <div class = 'm_1000wh'>
        <%= control_buttons(show_path_buttons).html_safe %>
    </div>
</div>
<div class = 'c_box even'>
    <%= my_notice %>
    <div class = 'm_1000wh tb-pad-m'>
		<div class = 'section group'>
			<div class = 'col span_2_of_12'>
				<%= image_tag @user.alter_avatar, :width => @user.widthAndHeight(@user.alter_avatar)[:width].to_s + 'px', :height => @user.widthAndHeight(@user.alter_avatar)[:height].to_s + 'px' %>						
			</div>
			<div class = 'col span_10_of_12'>
				<h3>Общая информация</h3>
				<p>
					<span class = 'istring norm medium-opacity'>Ник:</span> <span class = 'istring'><%= @user.name %></span>
				</p>
				<p>
					<span class = 'istring norm medium-opacity'>Группа:</span> <span class = 'istring'><%= @user.group_name %></span>
				</p>
				
				<% if !is_not_authorized? %>
				<p>
					<span class = 'istring medium-opacity'>Полное имя: </span> <span class = 'istring'><%= @user.full_name %></span>
				</p>
				<% end %>
				<% if @user.inform? %>
					<br />
					<p>
						<span class = 'istring medium-opacity'>О себе:</span> <span class = 'istring'><%= @user.inform %></span>
					</p>
				<% end %>
				<br />
				<h3>Контактные данные</h3>
				<p><%= user_contacts(@user).html_safe %></p>
			</div>
		</div>
	</div>
</div>
<% i = 0 %>
<% if @user == current_user %>
    <% if @user.videos != [] %>
        <% i+=1 %>
		<div class = 'cBoxSplitter'>
			<div class = 'm_1000wh'>
				<h3>Крайние размещенные видео</h3>
			</div>
		</div>
        <%= last_user_videos(i).html_safe %>
    <% end %>
<% end %>

