<%
    if @video.id != nil
        fn = "edit_video_#{@video.id}"
        butName = "Сохранить изменения"
        v = true
    else
        fn = "new_video"
        butName = "Добавить"
        v = false
    end
    @add_functions  = "initVideoForm(\"#{fn}\");"
%>
<% video_errors %>
	<%= form_for(@video) do |f| %>
	  <table style = 'width: 100%;'>
	  	<% if @users != nil %>
            <tr>
    		  <td align = 'right' valign = 'middle' >
    			    <%= f.label :user_id, 'Разместил' %>
    		  </td>
    		  <td align = 'left' valign = 'middle'>
    			    <%= f.collection_select :user_id, @users, :id, :name %>
    		  </td>
    		</tr>
        <% end %>
        <tr>
		  <td align = 'right' valign = 'middle' >
			<%= f.label :category_id, 'Категория' %>
		  </td>
		  <td align = 'left' valign = 'middle'>
			<%= my_collection_select(@video.categories, "category_id", 'video', {}, '') %>
		  </td>
		</tr>
		<tr>
		  <td align = 'right' valign = 'middle' >
			<%= f.label :name, 'Название' %>
		  </td>
		  <td align = 'left' valign = 'middle'>
			<%= @name_error.html_safe %>
			<%= f.text_field :name, :size => '84' %>
                         <div><p class = 'istring <%= @name_f_color if @name_f_color != nil %>' id = 'nLength'><span id = 'txtL'></span> <span id = 'txtErr'><%= @name_error if @name_error != nil %></span><span id = 'txtErrSrv'><%= @name_error if @name_error != nil %></span></p></div>
		  </td>
		</tr>
		<tr>
			<td align = 'right' valign = 'top' >
				<%= f.label :link, 'Ссылка' %>
			</td>
			<td align = 'left' valign = 'top' <%= @link_f_color.html_safe %>>
				<%= @link_error.html_safe %>
				<%= f.text_area :link, :rows => '3', :cols => '60', :disabled => v %>
                <%= waitline("wait_video_check").html_safe %>
                <div id = 'video_preview' style = "position:relative;"><%= @video.mini_link_html if v %></div>
                <div><p class = 'istring <%= @link_f_color if @link_f_color != nil %>' id = 'tError'><span id = 'txtL'></span> <span id = 'txtErr'><%= @link_error if @link_error != nil %></span><span id = 'txtErrSrv'><%= @link_error if @link_error != nil %></span></p></div>
			</td>
		</tr>
		<tr>
			<td align = 'right' valign = 'top' >
				<%= f.label :description, 'Описание' %>
			</td>
			<td align = 'left' valign = 'middle' <%= @description_f_color.html_safe %>>
				<%= @description_error.html_safe %>
				<%= f.text_area :description, :rows => '13', :cols => '60' %>
                        <div><p class = 'istring <%= @description_f_color if @description_f_color != nil %>' id = 'cLength'><span id = 'txtL'></span> <span id = 'txtErr'><%= @description_error if @description_error != nil %></span><span id = 'txtErrSrv'><%= @description_error if @description_error != nil %></span></p></div>
			</td>
		</tr>
		<tr>
			<td align = 'left' valign = 'top'>
				
			</td>
			<td>
                <%= mySubmitButton(butName, fn).html_safe %>
			</td>
		</tr>
	</table>
	<% end %>