<div class = 'm_1000wh'>
	<h1><%= @title %>: <%= @category_name %></h1>
</div>
<div class = 'm_1000wh'>
	<div class = 'section group'>
		<div class = 'col span_10_of_12'>
			<%= videos_paths_buttons.html_safe %>
		</div>
		<div class = 'col span_2_of_12'>
			<%= will_paginate @videos %>
		</div>
	</div>
</div>
<div class = 'c_box even'>
	<div class = 'm_1000wh tb-pad-m' style = 'min-height: 300px;'>
		
		<% if @videos != [] %>
			<% cur_year = nil %>
			<% @videos.each do |video| %>
				<% if cur_year != video.created_at.year %>
					<% cur_year = video.created_at.year %>
					<h2 class = 'tb-pad-s'><%= cur_year %></h2><hr />
				<% end %>
				<%= video_index_block(video).html_safe %>
			<% end %>
		<% else %>
			<p class = 'istring norm'>В данной категории нет ни одного видео</p>
		<% end %>
	</div>
</div>
<div class = 'm_1000wh'>
	<div class = 'section group'>
		<div class = 'col span_10_of_12'>
			<%= videos_paths_buttons.html_safe %>
		</div>
		<div class = 'col span_2_of_12'>
			<%= will_paginate @videos %>
		</div>
	</div>
</div>