<div class = 'm_1000wh'>
	<div class = 'section group'>
		<div class = 'col span_12_of_12'>
			<%= videos_paths_buttons.html_safe %>
		</div>
	</div>
</div>
<div class = 'm_1000wh'>
	<div class = 'section group'>
		<div class = 'col span_10_of_12'>
		</div>
		<div class = 'col span_4_of_12'>
			<%= will_paginate @videos %>
		</div>
	</div>
</div>
<div class = 'c_box'>
	<div class = 'm_1000wh' style = 'min-height: 300px;'>
		<% if @videos != [] %>
			<% @videos.each do |video| %>
				<%= video_index_block(video).html_safe %>
			<% end %>
		<% else %>
			<p class = 'istring norm'>В данной категории нет ни одного видео</p>
		<% end %>
	</div>
</div>
<div class = 'm_1000wh'>
	<div class = 'section group'>
		<div class = 'col span_10_of_12'>

		</div>
		<div class = 'col span_4_of_12'>
			<%= will_paginate @videos %>
		</div>
	</div>
	<div class = 'section group'>
		<div class = 'col span_12_of_12'>
			<%= videos_paths_buttons.html_safe %>
		</div>
	</div>
</div>