<div class = 'central_field' id = 'm_1600wh'>
	<div class = 'section group'>
		<div class = 'col span_9_of_12'>
			<%= videos_paths_buttons.html_safe %>
		</div>
		<div class = 'col span_3_of_12'>
			<%= will_paginate @videos %>
		</div>
	</div>
</div>
<div class = 'c_box'>
	<div class = 'central_field' style = 'width: 1000px; min-height: 300px;'>
		<% if @videos != [] %>
			<% @videos.each do |video| %>
				<%= video_index_block(video).html_safe %>
			<% end %>
		<% else %>
			<p class = 'istring norm'>В данной категории нет ни одного видео</p>
		<% end %>
	</div>
</div>
<div class = 'central_field' id = 'm_1600wh'>
	<div class = 'section group'>
		<div class = 'col span_9_of_12'>
			<%= videos_paths_buttons.html_safe %>
		</div>
		<div class = 'col span_3_of_12'>
			<%= will_paginate @videos %>
		</div>
	</div>
</div>