<%= navigation_string.html_safe %>
<br />
<br />
<div class = 'c_box'>
	<div class = 'central_field' style = 'width: ;'>
		<%= render 'video_show' %>
	</div>
	<% if @message_to != nil %>
		<div class = 'central_field' style = 'width: 1000px;'>
			<%= comment_box(@message_to, false).html_safe %>
		</div>
	<% end %>
	<div class = 'central_field' style = 'width: 1000px;'>
		<%= new_msg_frm %>
	</div>
</div>
<br />
<br />
<%= navigation_string.html_safe %>
<br />
<br />