<% video_errors %>
<%= navigation_string.html_safe %>
<br />
<br />
<div id = 'b_wrapper'>
	<%= video_show_block.html_safe %>
	<%= newMessageFormInitial('none', '#new_message').html_safe %>
	<a name = 'content'></a>
	<%= render 'comments' %>
</div>
<br />
<br />

<%= navigation_string.html_safe %>
<br />
<br />