<div class = 'm_1000wh tb-pad-s'>
    <%= navigation_string.html_safe %>
</div>
<%= video_show_block.html_safe %>
<div class = 'cBoxSplitter'>
	<div class = 'm_1000wh'>
		<h3>Комментарии</h3>
	</div>
</div>
<%= newMessageFormInitial.html_safe %>
<%= render 'comments' %>
<div class = 'm_1000wh tb-pad-s'>
	<%= navigation_string.html_safe %>
</div>