<div class = 'm_1000wh tb-pad-s'> 
    <%= navigation_string.html_safe %>
</div>
<div class = 'c_box'>
    <div class = 'm_1000wh'>
        <%= control_buttons(event_show_buttons).html_safe %>
    </div>
</div>
<div class = 'c_box odd'>
    <%= my_notice %>
    <div class = 'm_1000wh'>
        <%= event_show_block.html_safe %>
    </div>
</div>
<div class = 'm_1000wh tb-pad-s'> 
    <%= navigation_string.html_safe %>
</div>


