<%= navigation_string.html_safe %>
<br />
<div class = 'c_box'>
    <div class = 'central_field' id = 'm_1000wh'>
        <%= control_buttons(event_show_buttons).html_safe %>
    </div>
</div>
<div class = 'c_box odd'>
    <div class = 'central_field' id = 'm_1000wh'>
        <p id="notice"><%= notice %></p>
        <%= event_show_block.html_safe %>
    </div>
</div>
<br />
<%= navigation_string.html_safe %>
<br />


