<div class = 'm_1000wh'>
		<div class = 'tb-pad-s'><%= navigation_string.html_safe %></div>
</div>
<%= my_notice %>
<% i=1 %>
<%if is_admin?%>
<%= vk_like_vidget({title: @album.name, description: @album.description, image: @album.photo.link.to_s})[:button].html_safe %>
<%end%>
<%= album_index_block(@album, i, 'show') %>
<div class = 'cBoxSplitter'>
	<div class = 'm_1000wh'>
		<h3>Комментарии</h3>
	</div>
</div>
<%= render "messages/form" %>
<% if @album.comments != [] %>
	<% @album.comments.each do |c| %>
		<% i+=1 %>
		<%= message_theme_box(c, true, i).html_safe %>
	<% end %>
<% else %>
	<div class = 'm_1000wh tb-pad-l'><p class = 'istring norm'>Нет ни одного комментария к альбому</p></div>
<% end %>
<div class = 'm_1000wh tb-pad-s'>
	<%= navigation_string.html_safe %>
</div>
