<div class = 'row'>
    <div class = 'small-12 columns tb-pad-s'>
        <%= navigation_string.html_safe %>
    </div>
</div>
<%= my_notice %>
<% i=1 %>
<%= album_index_block(@album, i, 'show') %>
<div class = 'cBoxSplitter'>
	<div class = "row">
        <div class = "small-12 columns">
		    <h3>Комментарии</h3>
        </div>
	</div>
</div>
<%= render "messages/form" %>
<% if @album.comments != [] %>
	<% @album.comments.each do |c| %>
		<% i+=1 %>
		<%= message_theme_box(c, true, i).html_safe %>
	<% end %>
<% else %>
    <%= no_values_message("comments", message_text="Нет ни одного комментария к альбому").html_safe %>
<% end %>
<div class = 'row'>
    <div class = 'small-12 columns tb-pad-s'>
        <%= navigation_string.html_safe %>
    </div>
</div>
<%= whoIsOnlineMenu %>