<!-- 
<% parallaxItems.each do |p| %>
	<div class = 'pBox' id = '<%= p[:id] %>' style = '<%= p[:style].html_safe %>'>
		<% if p[:bg_img] == true %>
			<div class = 'pB-wrapper pB-wr-abs <%= p[:actioClass] %>' pb-speed = '<%= p[:speed] %>' pb-start-position = '<%= p[:startPosition] %>' style = '<%= p[:backgroundStyle] %>");'></div>
		<% end %>
		<div class = 'pB-content'>
			<%= p[:html].html_safe %>
		</div>
	</div>
<% end %>

 -->

<div id = 'm_full' class = 'even'>
    <div class = 'central_field' id = 'm_1000wh'>
    <div class = 'section group' style = 'padding: 50px 0 50px 0'>
        <div class = 'col span_4_of_12'>
            <div class = 'central_field' style = 'width: 100%; background:white; text-align: center; border-bottom: 1px solid #e1e7eb;'>
                <img src = '/files/learning.jpg' style = 'width: 100%; height:auto;' vspace = '0'>
                <div style = 'height: 50px;'>
                <p>Круглогодичное обучение полётам на параплане</p>
                </div>
            </div>
        </div>
        <div class = 'col span_4_of_12'>
            <div class = 'central_field' style = 'width: 100%; background:white; text-align: center; border-bottom: 1px solid #e1e7eb;'>
                <img src = '/files/rent.jpg' style = 'width: 100%; height:auto; ' vspace = '0'>
                <div style = 'height: 50px;'>
                    <p>Помощь в выборе нового оборудования и аренда клубного</p>
                </div>
            </div>
           
        </div>
        <div class = 'col span_4_of_12'>
            <div class = 'central_field' style = 'width: 100%; background:white; text-align: center; border-bottom: 1px solid #e1e7eb;'>
                <img src = '/files/tandem.jpg' style = 'width: 100%; height:auto;' vspace = '0'>
                <div style = 'height: 50px;'>
                    <p>Полёт с инструктором без специальной подготовки</p>
                </div>
            </div>
        </div>               
    </div>
</div>
</div>
<div id = 'm_full' style = 'background: white; '>
    <div class = 'central_field' id = 'm_1000wh' style = 'height: 100%; background-repeat: no-repeat; background-image: url("/files/davinci.png");'>
        <div class = 'section group' style = 'padding: 50px 0 50px 0'>
            <div class = 'col span_5_of_12'>
                 
                    <p style = 'font-size: 1.2em;'>ПАРАПЛАНЕРИЗМ</p>
                    <br />
                    <p >Люди издавна мечтали летать. В XX веке был изобретён параплан, который позволил осуществить давнюю мечту человека - парить в небе наравне с птицами. Парапланеризм - необычный спорт, это особый стиль жизни со своей философией.  Давайте поговорим об основополагающих принципах и понятиях парапланеризма.</p>
                    <br />
                     <a href = '/paragliding' class = 'b_link' target = '_blank'><img src = '/files/arr.png'> Подробнее</a>
                 
            </div>
            <div class = 'col span_1_of_12'>
            </div>
            <div class = 'col span_3_of_12'>
                   <p style = 'font-size: 1.2em; color: #176bb5;'>«Раз испытав полет, твои глаза навечно будут устремены в небо. Однажды там побывав, на всю жизнь ты обречен» тосковать о нем»</p>
                   <br />
                   <p class = 'quote'>
                       <span class = 'blue_undline'>Леонардо д</span>а Винчи
                   </p>
            </div>
            <div class = 'col span_1_of_12'>
            </div>
            <div class = 'col span_2_of_12'>     
                    <p>Мы считаем, что параплан может передавать невероятное чувство полета.</p>
                    <br />
                    <p>Мы искренне хотим, чтобы вы полюбили этот спорт так же, как и мы.</p>
            </div>               
        </div>
</div>
</div>
<div class = 'central_field' id = 'm_1600wh' style = 'background: white; height: 428px;'>
    <img src = '/files/fog.png' style = 'width:100%;' />
</div> 

