<div class = 'm_1000wh'>
    <div class = 'section group'>
        <div class = 'col span_10_of_12'>
            <%= buttons_in_line_b(@mediaPartHash[:typeButtons]).html_safe  %>
            <%= buttons_in_line(@mediaPartHash[:categoryButtons]).html_safe %>
        </div>
        <div class = 'col span_2_of_12'>
            <%= will_paginate @entities %>
        </div>
    </div>
</div>
<%if !newMediaPanel.blank? || @mediaPartHash[:typeName] == 'albums' %>
<div class = 'c_box'>
    <div class = 'm_1000wh'>
        <div class = 'section group'>
            <div class = 'col span_10_of_12' style = 'margin:0;padding:0;'>
                <%= newMediaPanel %>
            </div>
            <div class = 'col span_2_of_12' style = 'margin:0;padding:0;'>
                <%= view_mode_albums_list.html_safe if @mediaPartHash[:typeName] == 'albums' %>
            </div>
        </div>
    </div>
</div> 
<%end%>
<% if @mediaPartHash[:typeName] == 'videos'%>
    <div class = 'c_box odd'>
        <div class = 'm_1000wh tb-pad-m' >
			<% @entities.each do |vid| %>
				<%= video_index_block(vid).html_safe %>
			<% end %>
        </div>
    </div>
<% elsif @mediaPartHash[:typeName] == 'articles'%>
    <div class = 'c_box odd'>
        <div class = 'm_1000wh tb-pad-m' >
    		<% if @entities != [] %>
    			<table class = 'v_table' id = 'article_table'>
        			<% @entities.each do |article| %>
        				<tbody class = 't_link' link_to = '<%= article_path(article) %>'>
        					<tr>
        						<td align = 'left' class = 'name' id = 'first'>
        							<%= article.name %>
        						</td>
        						<td align = 'right' class = 'date' id = 'last'>
        							<%= article.created_at.strftime("%d.%m.%Y") %>
        						</td>
        					</tr>
        				</tbody>
        			<% end %>
                </table>
    		<% else %>
    			<p class = 'istring norm'>В данной категории нет материалов...</p>
    		<% end %>
        </div>
    </div>
<% elsif @mediaPartHash[:typeName] == 'albums' %>
    <% if @entities.size > 0 %>
            <%= render 'photo_albums/list_view' if session[:albums_list_type] == 'list' %>
            <%= render 'photo_albums/thumbs_view' if session[:albums_list_type] == 'thumbs' %>
    <%else%>
        <p class = 'istring norm'>В данной категории нет фотоальбомов...</p>
    <%end%>
	
<% end %>
<div class = 'm_1000wh tb-pad-s'>
    <div class = 'section group'>
        <div class = 'col span_10_of_12'>
            <%= buttons_in_line(@mediaPartHash[:typeButtons]).html_safe %>
        </div>
        <div class = 'col span_2_of_12'>
            <%= will_paginate @entities %>
        </div>
    </div>
</div>   


