<h1>Переходы</h1>

<table>
  <tr>
    <th>Пользователь</th>
    <th>Раздел</th>
    <th>Страница</th>
    <th>Сущность</th>
    <th>IP</th>
    <th>Host name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @steps.each do |step| %>
  <tr>
    <td><%= step.user.name if step.user != nil %><%= 'Гость' if step.user == nil %></td>
    <td><%= step.part_name %></td>
    <td><%= step.page_id %></td>
    <td><%= entity_link(step).html_safe %></td>
    <td><%= step.ip_addr %></td>
    <td><%= step.host_name %></td>
    <td><%= link_to 'Show', step %></td>
    <td><%= link_to 'Edit', edit_step_path(step) %></td>
    <td><%= link_to 'Destroy', step, :method => :delete, :data => { :confirm => 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Step', new_step_path %>
