
<div class = 'c_box'>
		<br />
		<div class = 'central_field' style = 'width: 1000px;'>
			<div id = 'update_photos_form' >
			<table id = "uPhts" style = 'width:100%;'>
                <% oe = "even" %>
				<% @photos.each do |photo| %>
                    <% oe = (oe == "even")? "odd" : "even" %>
                    
    						<tbody class = 'tImage <%= oe %>' id = 'img_<%= photo.id.to_s %>'>
                                   
    								<tr>
    									<td align = "center" valign = "top" width = '250px'>
    										<%= image_tag(photo.link.thumb, :class => "album_thumb_photo")%>
    									</td>
    									<td align = "left" valign = "top">
                                            <%= form_for(photo, remote: true, html: {class: "photo_form"}) do |f| %>
    										<%= f.text_area :description, :rows => '3', :cols => '35', :defaultRows => 3, :value => photo.description %><br />
    										<div><% if params[:hashToCont] == 'true' and @entity != 'photo_album' %><a onclick="addHashCodeToTextArea(this)" class="b_link pointer addHashCode" hashCode="#Photo<%= photo.id.to_s %>"  title = "Нажмите, чтобы встроить фото в текст...">Встроить в текст</a><% end %></div>
                                            <% end %>	
    									</td>
    								</tr>
                                    <tr>
                                        <td>
                                            
                                        </td>
                                        <td id = 'edit_ph_menu'>
                                            <% if userCanDeletePhoto?(photo) %>
                                                <%= link_to "<i class = 'fi-trash fi-large'></i>".html_safe, photo, remote:true, class: "del-photo-but", method: :delete, data: {confirmation: "Вы уверены, что хотите удалить фото"} %>
                                            <% end %>
                                        </td>

                                    </tr>
    						</tbody>				
    					
					<% end %>
			</table>
			</div>
		</div>
</div>
<br />
<br />