<div class = 'c_box'>
	<div class = 'm_1000wh tb-pad-s'>
		<ul id = 'update_photos_form'>
               
                <% @photos.each do |photo| %>
                 <li class = 'ph-list-items' id = 'img_<%= photo.id.to_s %>'>
                    <div class = "ph-block-c">
                        <div class = "central_field" style = "width: <%= photo.widthAndHeight[:width_th] %>px;">
                            <div style = "height: <%= photo.widthAndHeight[:height_th] %>px;">
                                <%= image_tag(photo.link.thumb, :class => "album_thumb_photo")%>
                            </div>
                            <div style = "width: <%= photo.widthAndHeight[:width_th] %>px;">
                                <%= form_for(photo, remote: true, html: {class: "photo_form"}) do |f| %>
                                                            <div style = "width: 100%; height: 20px;" ><p style= "display: none; color: green;" class = "istring" id = "notice">Фото успешно обновлено</p></div>
    							    <%= f.text_area :description, :rows => '3', :cols => '30', :defaultRows => 3, :value => photo.description, style: "width: #{photo.widthAndHeight[:width_th]-6}px; position:;top: 5px;", placeholder: "Описание фото" %>  <% end %>
                                        <ul id = 'edit_ph_menu'>
                                            <% if params[:hashToCont] == 'true' and @entity != 'photo_album' %>
                                                 <a class="b_link pointer addHashCode" hashCode="#Photo<%= photo.id.to_s %>" title = "Нажмите, чтобы встроить фото в текст..."><li><p>Встроить в текст</p></li></a>
                                            <% end %>
                                            <% if userCanDeletePhoto?(photo) %>
                                                <a class = "del-photo-but b_link pointer" photo_id = "<%=photo.id %>" ><li><p>Удалить</p></li></a> 
                                            <% end %>
                                        </ul>
                                   
                            </div>
                        </div>
                    </div>
                    </li>
                <% end %>
		</div>
	</div>
</div>
<br />
<br />