<h1>Listing photos</h1>

<table>
  <tr>
    <th>Photo album</th>
    <th>User</th>
    <th>Category</th>
    <th>Name</th>
    <th>Description</th>
    <th>Link</th>
    <th>Article</th>
    <th>Event</th>
    <th>Message</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @photos.each do |photo| %>
  <tr>
    <td><%= photo.photo_album_id %></td>
    <td><%= photo.user_id %></td>
    <td><%= photo.category_id %></td>
    <td><%= photo.name %></td>
    <td><%= photo.description %></td>
    <td><%= photo.link %></td>
    <td><%= photo.article_id %></td>
    <td><%= photo.event_id %></td>
    <td><%= photo.message_id %></td>
    <td><%= link_to 'Show', photo %></td>
    <td><%= link_to 'Edit', edit_photo_path(photo) %></td>
    <td><%= link_to 'Destroy', photo, :method => :delete, :data => { :confirm => 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Photo', new_photo_path %>
