<div id = 'photoField'>
	<% if @prev_photo != nil %><div class = 'ph-big-links ph-big-prev' link_to = '<%= @prev_photo %>'><div id = 'iIcon'></div></div><% end %>
	<% if @next_photo != nil %><div class = 'ph-big-links ph-big-next' link_to = '<%= @next_photo %>'><div id = 'iIcon'></div></div><% end %>
	<div align = 'center' class = 'central_field' style = 'width: 100%;'>
		<img photo-height = <%= @photo.widthAndHeight[:height] %> photo-width = <%= @photo.widthAndHeight[:width] %> id = 'bPhoto' src = '<%= @photo.link %>'>
	</div>
</div>
<div id = 'photoPagination'>
	<div class = 'central_field' id = 'paginationLine'>
		<div class = 'ph-arrows ph-arr-left ph-h'></div><%= photo_pagination.html_safe %><div class = 'ph-arrows ph-arr-right ph-h'></div>
	</div>
</div>

<div id = 'phInfo'>
		<div class = 'c_box'>
			<div class = 'm_1000wh'>
                <div class = 'section group'>
                    <div class = 'col span_6_of_12'>
        				<%= photo_info.html_safe %>
                    </div>
                    <div class = 'col span_6_of_12'>
                        <div id = 'right_f'><%= user_photo_like_link(@photo).html_safe %></div>
                    </div>
                </div>
			</div>
        </div>
        <div class = 'cBoxSplitter'>
            <div class = 'm_1000wh'><h3>Комментарии к фото</h3></div>
		</div>   
		<div class = 'c_box'>
            <%= my_notice %>
            <%= render "messages/form" %>
			<% if @photo.comments != [] %>
				<% i=0 %>
				<% @photo.comments.each do |message| %>
					<%= message_theme_box(message, true, i).html_safe %>
					<% i+=1 %>
				<% end %>
			<% else %>
				<div class = 'm_1000wh'>
                    <p class = 'istring norm tb-pad-m'>Не ни одного комментария...</p>
                </div>
			<% end %>
        </div>	
	</div>
</div>
<br />

<br />
