<div id = 'photoField'>
	<% if @prev_photo != nil %><div class = 'ph-big-links ph-big-prev' link_to = '<%= @prev_photo %>'><div id = 'iIcon'></div></div><% end %>
	<% if @next_photo != nil %><div class = 'ph-big-links ph-big-next' link_to = '<%= @next_photo %>'><div id = 'iIcon'></div></div><% end %>
	<div align = 'center' class = 'central_field' style = 'width: 100%;'>
		<%= image_tag @photo.link, :id => 'bPhoto' %>
	</div>
</div>
<div id = 'photoPagination'>
	<div class = 'central_field' id = 'paginationLine'>
		<div class = 'ph-arrows ph-arr-left ph-h'></div><%= photo_pagination.html_safe %><div class = 'ph-arrows ph-arr-right ph-h'></div>
	</div>
</div>
<div id = 'phInfo'>
	<div id = 'b_wrapper'>
		
		<div class = 'c_box'>
			<div class = 'central_field' style = 'width: 1000px;'>
				<%= photo_info.html_safe %>
			</div>
		</div>
		<div id = 'b_wrapper'>
			<div class = 'central_field' style = 'width: 1000px;'>
				<%= photo_comment_button.html_safe %>
				<%= newMessageFormInitial('none', '#new_message').html_safe %>
				<h3>Комментарии к фото</h3>
				<br />
				Марка камеры: <%= @photo.exif_data[:make] %>
				<br />
				Модель камеры: <%= @photo.exif_data[:model] %>
				<br />
				Выдержка: <%= @photo.exif_data[:exposure_time] %>
				<br />
				Диафрагма: <%= @photo.exif_data[:f_number] %>
				<br />
				Фокусное расстояние: <%= @photo.exif_data[:focal_length] %>
				<br />
				Автор: <%= @photo.exif_data[:author] %>
				<br />
				Software: <%= @photo.exif_data[:software] %>
				<br />
				Объектив: <%= @photo.exif_data[:lens] %>
				<br />
				Экспозиция: <%= @photo.exif_data[:exposure] %>
				<br />
				ISOSpeed: <%= @photo.exif_data[:iso] %>
                <br />
                <hr />
                 <br />
                  <br />
                
				<div class = 'central_field' style = 'width: 980px;'>
				
					<% if @photo.comments != [] %>
						<% i=0 %>
						<% @photo.comments.each do |message| %>
							<%= message_theme_box(message, true, i).html_safe %>
							<% i+=1 %>
						<% end %>
					<% else %>
						<br />
						<p class = 'istring norm'>Не ни одного комментария...</p>
					<% end %>
				</div>
			</div>
		</div>
	</div>
</div>
<br />
<br />
