<div class = 'm_1000wh tb-pad-s'>
    <%= navigation_string.html_safe %>
</div>
<div class = 'c_box'>
    <div class = 'm_1000wh'>
        <%= vote_show_buttons.html_safe %>
    </div>
</div>
<%= my_notice %>
<% if @theme.nil? %>
    <%= vote_show_block.html_safe %>
<%else%>
    <%= theme_show_block(true).html_safe %>
    <%= render "themes/messages" %>
<%end%>
<div class = 'm_1000wh tb-pad-s'>
    <%= navigation_string.html_safe %>
</div>
