<div class = 'm_1000wh'>
    <h1>Архив сообщений с para.saminfo.ru</h1>
</div>
<div class = 'm_1000wh'>
    <div class = 'section group'>
        <div class = 'col span_8_of_12'>
            <%= navigation_string.html_safe %>
        </div>
        <div class = 'col span_4_of_12'>
            <%= will_paginate @themes %>
        </div>
    </div>
</div>
<% i=0 %>
<% @old_messages.each do |message| %>
	<%= old_message_box(message, i).html_safe if message.content != '' and message.created_when != nil and message.user_name != '' %>
	<% i+=1 %>
<% end %>
<div class = 'm_1000wh'>
    <div class = 'section group'>
        <div class = 'col span_8_of_12'>
            <%= navigation_string.html_safe %>
        </div>
        <div class = 'col span_4_of_12'>
            <%= will_paginate @themes %>
        </div>
    </div>
</div>