<%= navigation_string.html_safe %>
<br />
<div class = 'central_field' id = 'm_1000'>
    <div class = 'l_menu'><h1>Архив сообщений с para.saminfo.ru</h1></div>
<%= will_paginate @themes %>
</div>
<div class = 'central_field' id = 'b_wrapper'>
	<div id = 'b_wrapper'>
		<% i=0 %>
		<% @old_messages.each do |message| %>
			<%= old_message_box(message, i).html_safe if message.content != '' and message.created_when != nil and message.user_name != '' %>
			<% i+=1 %>
		<% end %>
	</div>
</div>
<br />
<div class = 'central_field' id = 'm_1000'>
<%= will_paginate @themes %>
</div>
<%= navigation_string.html_safe %>
<br />