<!DOCTYPE html>
<html>
<head>
  <title><%= my_title %></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <% define_action %>
  <script type = 'text/javascript'>
  var ready = function(){$('img').load(function(){$(this).fadeIn(1000);}); my_functions(); wheatherPanel(); <%= js_functions %> bottomControl();};
      $(document).ready(ready);
      $(document).on('page:load',ready);
  </script>
</head>
<body>
<!--
<div class = 'right_menu'>
	<div id = 'wh_cont' style = 'width: 580px;'>
		<div style = 'display: inline-block;'>
			<a class = 'b_link' target = '_blank' href = 'http://rp5.ru/7259/ru'>Самара</a><br />
			<EMBED src='http://rp5.ru/informer/100x100/1/17.swf' loop=false menu=false quality=high scale=noscale wmode=transparent bgcolor=#CCCCCC flashvars='id=7259&lang=ru&um=00000' WIDTH='100' HEIGHT='100' NAME='loader' ALIGN='' TYPE='application/x-shockwave-flash' PLUGINSPAGE= 'http://www.macromedia.com/go/getflashplayer'></EMBED>
		</div>
		<div style = 'display: inline-block;'>
			<a class = 'b_link' target = '_blank'  href = 'http://rp5.ru/123798/ru'>Б. Раковка</a><br />
			<EMBED src='http://rp5.ru/informer/100x100/1/17.swf' loop=false menu=false quality=high scale=noscale wmode=transparent bgcolor=#CCCCCC flashvars='id=123798&lang=ru&um=00000' WIDTH='100' HEIGHT='100' NAME='loader' ALIGN='' TYPE='application/x-shockwave-flash' PLUGINSPAGE= 'http://www.macromedia.com/go/getflashplayer'></EMBED>
		</div>
		<div style = 'display: inline-block;'>
			<a href='http://6.pogoda.by/28807' title='Прогноз атмосферного давления,скорости и направления ветра по данным UKMET. Самара' target='_blank'>
			<img src='http://pogoda.by/mg/366/egrr_W28807.gif' width='366' height='100' border='1' alt='График элементов погоды P, Ws, Wa г. Самара прогноз на 126 ч.'></a>
		</div>
	</div>
	<div id = 'cont'>
		<div style = 'display: none;' id = 'h_wr'>
		</div>
	</div>
	<div id = 'but_area'>
		<div id = 'w_but'>
		</div>
	</div>
</div> 
-->
<div class='quickScroll' style = 'display: none;'>
	<div class = 'arrow fi-arrow-up' id = 'aUp' style = 'display: none;'></div>
	<div class = 'arrow fi-arrow-down' id = 'aDwn' style = 'display: none;'></div>
</div>
<% if @hideSesPanel != true %>
    <div id = 'ses_p' class = 'm_1000wh' >
        <% if user_type == 'guest' %>
            <%= form_for(:session, :url => sessions_path(:redirect_to => 'index'), :html => {:id => 'sesForm'}) do |f|  %>
    	        <div class = 'section group'>
            		<div class = 'col span_5_of_12'>
            		</div>
                    <div class = 'col span_7_of_12'>
                        <table style = 'width: 100%; height: 100%;'>
                            <tr>
                                <td align = 'center' valign = 'middle' style = 'width: 160px;'>
                                    <%= f.text_field :name, :id => 'sesText', :placeholder => 'Логин или E-mail' %>
                                </td>
                                <td align = 'center' valign = 'middle' style = 'width: 160px;'>
                                    <%= f.password_field :password, :id => 'sesText', :placeholder => 'Пароль' %>
                                </td>
                                <td align = 'center' valign = 'middle' style = 'width: 110px;' >
                                    <%= mySubmitButton('Войти', 'sesForm').html_safe %>
                                </td>
                                <td align = 'left' valign = 'middle'>
                                    <%= link_to 'Забыли пароль?', '/remember_password', :class => 'sesLink', :style => 'margin: 0 0 0 0; padding: 0 0 0 0;' %>
                                    <%= link_to 'Регистрация', '/signup', :class => 'sesLink', :style => 'margin: 0 0 0 0; padding: 0 0 0 0;'%>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
                <% end %>
            <% else %>
    	        <div class = 'section group'>
            		<div class = 'col span_3_of_12'>
            		</div>
            		<div class = 'col span_6_of_12'>
                        <%= user_session_menu.html_safe %>
            		</div>
            		<div class = 'col span_3_of_12'>
                        <table style = 'width: 100%; height: 100%;'>
                            <tr>
                                <td align = 'center' valign = 'middle' style = 'width: 50px;'>
                                     <img src = '<%= current_user.alter_avatar_thumb %>'> 
                                </td>
                                <td align = 'left' valign = 'middle' style = 'width: 130px;'>
                                    <p class = 'sesText'>Вы вошли как:</p>
                                    <%= link_to current_user.name, current_user, :class => 'sesLink' %>
                                </td>
                                <td align = 'right' valign = 'middle' >
                                    <%= myLinkButton('Выйти', '/signout').html_safe %>
                                </td>
                            </tr>
                        </table>
            		</div>
                </div>
                
            <% end %>
    </div>
<% end %>
<div id = 'top' style = 'height: <%= @curTopImage[:BlockHeight] %>px; <% if @curTopImage[:link] != 'none' %>background-image:url("<%= @curTopImage[:link] %>");<% end %>'>
	<div class = 'm_1000wh'>
		<div class = 'section group'>
			<div class = 'col span_3_of_12' style = 'margin-top:23px; '>
				<img height = "130px" link_to = '/' id = 'mLogo' src = '/logo/logo.png' />
			</div>
			<div class = 'col span_9_of_12' style = 'padding: 0 0 0 0; margin-top:56px;'>
				<div id = 'mainMenu'>
					<%= topMainMenu.html_safe %>
				</div>
			</div>                       
		</div>
		<% if controller.controller_name == 'pages' &&  controller.action_name == 'index' %>
			<div class = 'section group'>
				<div class = 'col span_6_of_12' style = 'padding: 0 0 0 0; margin-top:50px;'>
					<div style = 'position: relative;'>
						<p id = 'siteName'>САМАРСКИЙ</p>
						<p id = 'siteName'>ПАРАПЛАНЕРНЫЙ</p>
						<p id = 'siteName'>КЛУБ</p>
						<div id = 'aboutClubLink'>
							<a href = '/about_us'><div></div><p>УЗНАТЬ О КЛУБЕ</p></a>   
						</div>
					</div>
				</div>             
			</div>
		<% end %>
	</div>
</div>
<div id = 'middle'>
    <%= header_1 %>
	<%= yield %>
</div>
<div id = 'bottom'>
	<div id = 'test'></div>
	<% if controller.controller_name == 'pages' and controller.action_name != 'visota_life' and controller.action_name != 'feed' and controller.action_name != 'search' %>
		<div id="m_full" class="even">
			<div class="m_1000wh">
				<div class="section group" style="padding: 47px 0 47px 0">
					<div class="col span_2_of_12">
					</div>
					<div class="col span_1_of_12">
						 <div class = 'social-icons' id = 'vkontakte'></div>
					</div> 
					<div class="col span_1_of_12">
					</div>
					<div class="col span_1_of_12">
						  <div class = 'social-icons' id = 'facebook'></div>
					</div>
					<div class="col span_1_of_12">
					</div>
					<div class="col span_1_of_12">
						 <div class = 'social-icons' id = 'twitter'></div>
					</div>
					<div class="col span_1_of_12">
					</div>
					<div class="col span_1_of_12">
						 <div class = 'social-icons' id = 'googlePlus'></div>
					</div>
					<div class="col span_2_of_12">
					</div>               
				</div>
			</div>
		</div>
		<div id = 'm_full' class = 'odd'>
			<div class = 'm_1000wh'>
					<div class="section group" style = 'padding: 78px 0 78px 0'>
					   <div class="col span_1_of_12">
					   </div>
					   <div class="col span_5_of_12">
							<h2>
								Адрес базирования клуба: 
							</h2>
							<p class = 'string norm'>
								Россия, Самарская область, пос. Яицкий, ул. Озёрная, 88
							</p>
					   </div>
					   <div class="col span_1_of_12">
					   </div>
					   <div class="col span_5_of_12">
							<h2>
								Телефоны: 
							</h2>
							<p class = 'string norm'>
								Самара: +7-927-294-30-01 Владимир Архиповский
							</p>
							<p class = 'string norm'>
								Самара: +7-903-309-04-12 Юрий Запорожец
							</p>
							<p class = 'string norm'>
								Новокуйбышевск: (235) 6-27-44 Борис Лузин
							</p>
					   </div>
					</div>
				<br />
			</div>
		</div>
	<% end %>
	<div id = 'footer'>
		<div class = 'm_1000wh'  style = 'top: 30%;'>
			<div class = 'section group'>
				<div class = 'col span_9_of_12'>
					<div id = 'bottomMenu'>
					  <%= bottomMainMenu.html_safe %>
					</div>
				</div>
				<div class = 'col span_3_of_12'>
				   <p id = 'bottomClubName'> © СПК "Высота", 2000-<%= Time.now.year %></p>
				</div>
			</div>
		</div>
	</div>
</div>
</body>
</html>
