<!DOCTYPE html>
<html>
<head>
  <title><%= my_title %></title>
  <meta name = 'description' content = '<%= meta_content %>' >
  <meta name = 'keywords' content = '<%= meta_keywords %>' >
  <meta property="og:title" content="<%= my_title %>">
  <meta property="og:image" content="<%= page_image %>">
  <meta property="og:description" content="<%= meta_content %>">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <% define_action %>
  
  <%= vk_like_vidget[:script].html_safe %>
    <script type = 'text/javascript'>
        var ready = function(){<%= js_functions %>};
        $(document).ready(ready);
        $(document).on('page:load', ready);
    </script>
</head>
<body>
    <!-- Yandex.Metrika counter -->
    <script type="text/javascript">
        (function (d, w, c) {
            (w[c] = w[c] || []).push(function() {
                try {
                    w.yaCounter19725562 = new Ya.Metrika({
                        id:19725562,
                        clickmap:true,
                        trackLinks:true,
                        accurateTrackBounce:true
                    });
                } catch(e) { }
            });

            var n = d.getElementsByTagName("script")[0],
                s = d.createElement("script"),
                f = function () { n.parentNode.insertBefore(s, n); };
            s.type = "text/javascript";
            s.async = true;
            s.src = "https://mc.yandex.ru/metrika/watch.js";

            if (w.opera == "[object Opera]") {
                d.addEventListener("DOMContentLoaded", f, false);
            } else { f(); }
        })(document, window, "yandex_metrika_callbacks");
    </script>
    <noscript><div><img src="https://mc.yandex.ru/watch/19725562" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
    <!-- /Yandex.Metrika counter -->
<div class='quickScroll show-for-medium' style = 'display: none;'>
	<div class = 'arrow fi-arrow-up' id = 'aUp' style = 'display: none;'></div>
	<div class = 'arrow fi-arrow-down' id = 'aDwn' style = 'display: none;'></div>
</div>
<div id = "responsive" class="title-bar" data-responsive-toggle="responsive-toggle-menu" data-hide-for="medium">
    <div class = "row">
        <div class = "small-3 columns">
            <ul class="menu align-left">
                <li>
                    <button style = "margin-top: 12px;" class="menu-icon" type="button" data-toggle></button>  <div style = "margin-top:10px;"class="title-bar-title">Меню</div>
                </li>
            </ul>
        </div>
        <div class = "small-9 columns">
            <ul class="menu align-left float-right">
              <%= @user_menu %>
              <li>
                  <% if user_type == "guest" %>
                      <a class = "open-session-menu-buts" href="#"><i class="fi-key fi-small"></i> <span>Вход</span></a>
                  <%else%>
                      <a href="/signout"><i class="fi-arrow-right fi-small"></i> <span>Выход</span></a>
                  <%end%>
              </li>
            </ul>
        </div>
    </div>
</div>
<div id = "responsive-toggle-menu" class = "main-menu hide-for-medium">
    <ul>
        <%= @main_menu %>
    </ul>
</div>
<% if @hideSesPanel != true %>

    <div id = 'ses_p' class = 'show-for-medium' >
        <% if user_type == 'guest' %>
    	        <div class = 'row' style = "height: 58px;">

            		<div class = 'medium-12 columns'>
                        <div  class="media-object float-right">
                          <div class="media-object-section middle">
                            <ul class = "float-right" id = 'userMenu'>
                                 <%= @user_menu %>
                             </ul>
                          </div>
                          <div style = "height: 58px;" class="media-object-section middle">
                              <button style = "margin: 0;" id = "open-session-menu-but" type="button" class="addition small button open-session-menu-buts"><i class = "fi-key"></i> Вход</button>
                          </div>
                        </div>
            		</div>
                </div>
            <% else %>
    	        <div class = 'row' style = "height: 58px;">
            		<div class = 'medium-7 large-9 columns'>
                        <div class = "tb-pad-sm">
                        <ul class = "float-right" id = 'userMenu'>
                             <%= @user_menu %>
                         </ul>
                         </div>
            		</div>
                    <div style = "height: 100%;" class = 'medium-5 large-3 columns'>
                        <div  class="media-object float-right">
                          <div class="media-object-section middle">
                            <div class="thumbnail">
                              <img class = "float-right" src = '<%= current_user.alter_avatar_thumb %>'>
                            </div>
                          </div>
                          <div class="media-object-section middle">
                              <p class = 'sesText'>Вы вошли как:</p>
                              <%= link_to current_user.name, current_user, :class => 'sesLink' %>
                          </div>
                          <div style = "height: 58px;" class="media-object-section middle">
                              <a id = "close-session-but" href="/signout" class="addition small button float-right">Выйти</a>
                          </div>
                        </div>
                    </div>
                </div>  
            <% end %>
    </div>
<% end %>
<div id = 'top' data-interchange = "<%= @curTopImage[:link] %>" kra-base-height = "<%= @curTopImage[:BlockHeight] %>">
	<div id = "top-info-container" class = 'row'>
			<div class = 'small-3 columns' id = 'logo-column'>
                <%= image_tag "logo.png", id: "mLogo", link_to: root_path, height: "130px" %>	
			</div>
			<div class = 'small-9 columns show-for-medium' id = 'menu-column'>
				<div id = "mainMenu" class = "main-menu">
                    <ul>
                       <%= @main_menu %> 
                    </ul>
				</div>
			</div>  
            <% if controller.controller_name == 'pages' &&  controller.action_name == 'index' %>
			<div id = "site-name-column" class = 'small-9 medium-12 column'>
                    <ul class = 'site-name'>
                        <li>
                            САМАРСКИЙ
                        </li>
                        <li>
                            ПАРАПЛАНЕРНЫЙ
                        </li>
                        <li>
                            КЛУБ
                        </li>
                    </ul>
			</div>
            <div class = 'small-12 column' >
                <div id = 'aboutClubLink'>
                    <a href = '/about_us'><div></div><p>УЗНАТЬ О КЛУБЕ</p></a>   
                </div>
            </div>    
            <% end %>                 
   </div>
</div>
<a name = 'cs'></a>
<div id = 'middle'>
    <%= authority_message if user_type == 'new_user' && @show_authority_message_flag == true %>
    <%= header_1 %>
	<%= yield %>
    
    <div style = "position: relative; width: 100%;" id = "footerMark"></div>
</div>
<%= render "layouts/bottom" %>
</body>
</html>
