<!DOCTYPE html>
<html>
<head>
  <title><%= my_title %></title>
  <meta name = 'description' content = '<%= meta_content %>' >
  <meta name = 'keywords' content = '<%= meta_keywords %>' >
  <meta property="og:title" content="<%= my_title %>">
  <meta property="og:image" content="<%= page_image %>">
  <meta property="og:description" content="<%= meta_content %>">
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <% define_action %>
  
  <%= vk_like_vidget[:script].html_safe %>
    <script type = 'text/javascript'>
        var ready = function(){
            $('img, style').load(function(){$(this).fadeIn(1000);}); my_functions();  <%= js_functions %> };
        $(document).ready(ready);
        $(document).on('page:load', ready);
    </script>
</head>
<body>
    <!-- Yandex.Metrika counter -->
    <script type="text/javascript">
        (function (d, w, c) {
            (w[c] = w[c] || []).push(function() {
                try {
                    w.yaCounter19725562 = new Ya.Metrika({
                        id:19725562,
                        clickmap:true,
                        trackLinks:true,
                        accurateTrackBounce:true
                    });
                } catch(e) { }
            });

            var n = d.getElementsByTagName("script")[0],
                s = d.createElement("script"),
                f = function () { n.parentNode.insertBefore(s, n); };
            s.type = "text/javascript";
            s.async = true;
            s.src = "https://mc.yandex.ru/metrika/watch.js";

            if (w.opera == "[object Opera]") {
                d.addEventListener("DOMContentLoaded", f, false);
            } else { f(); }
        })(document, window, "yandex_metrika_callbacks");
    </script>
    <noscript><div><img src="https://mc.yandex.ru/watch/19725562" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
    <!-- /Yandex.Metrika counter -->
<div class='quickScroll' style = 'display: none;'>
	<div class = 'arrow fi-arrow-up' id = 'aUp' style = 'display: none;'></div>
	<div class = 'arrow fi-arrow-down' id = 'aDwn' style = 'display: none;'></div>
</div>
<% if @hideSesPanel != true %>

    <div id = 'ses_p' class = 'm_1000wh' >
        <% if user_type == 'guest' %>
            <%= form_for(:session, :url => sessions_path(:redirect_to => 'index'), :html => {:id => 'sesForm'}) do |f|  %>
    	        <div class = 'section group'>
            		<div class = 'col span_3_of_12'>
                        
            		</div>
            		<div class = 'col span_2_of_12'>
                         <%= user_session_menu(wheather_top_but).html_safe %>
            		</div>
                    
                    <div class = 'col span_7_of_12'>
                        <table style = 'width: 100%; height: 100%;'>
                            <tr>
                                <td align = 'center' valign = 'middle' style = 'width: 160px;'>
                                    <%= f.text_field :name, :id => 'sesText', :placeholder => 'Логин или E-mail' %>
                                </td>
                                <td align = 'center' valign = 'middle' style = 'width: 160px;'>
                                    <%= f.password_field :password, :id => 'sesText', :placeholder => 'Пароль' %>
                                </td>
                                <td align = 'center' valign = 'middle' style = 'width: 110px;' >
                                    <%= mySubmitButton('Войти', 'sesForm').html_safe %>
                                </td>
                                <td align = 'left' valign = 'middle'>
                                    <%= link_to 'Забыли пароль?', '/remember_password', :class => 'sesLink', :style => 'margin: 0 0 0 0; padding: 0 0 0 0;' %>
                                    <%= link_to 'Регистрация', '/signup', :class => 'sesLink', :style => 'margin: 0 0 0 0; padding: 0 0 0 0;'%>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
                <% end %>
            <% else %>
    	        <div class = 'section group'>
            		<div class = 'col span_3_of_12'>
            		</div>
            		<div class = 'col span_6_of_12'>
                        <%= user_session_menu(wheather_top_but+user_top_buttons).html_safe %>
            		</div>
            		<div class = 'col span_3_of_12'>
                        <table style = 'width: 100%; height: 100%;'>
                            <tr>
                                <td align = 'center' valign = 'middle' style = 'width: 50px;'>
                                     <img src = '<%= current_user.alter_avatar_thumb %>'> 
                                </td>
                                <td align = 'left' valign = 'middle' style = 'width: 130px;'>
                                    <p class = 'sesText'>Вы вошли как:</p>
                                    <%= link_to current_user.name, current_user, :class => 'sesLink' %>
                                </td>
                                <td align = 'right' valign = 'middle' >
                                    <%= myLinkButton('Выйти', '/signout').html_safe %>
                                </td>
                            </tr>
                        </table>
            		</div>
                </div>
                
            <% end %>
    </div>
<% end %>
<div id = 'top' style = 'height: <%= @curTopImage[:BlockHeight] %>px; <% if @curTopImage[:link] != 'none' %>background-image:url("<%= @curTopImage[:link] %>");<% end %>'>
	<div class = 'm_1000wh'>
		<div class = 'section group'>
			<div class = 'col span_3_of_12' style = 'margin-top:23px; '>
                <%= image_tag "logo.png", id: "mLogo", link_to: root_path, height: "130px" %>	
			</div>
			<div class = 'col span_9_of_12' style = 'padding: 0 0 0 0; margin-top:56px;'>
				<div id = 'mainMenu'>
					<%= topMainMenu.html_safe %>
				</div>
			</div>                       
		</div>
		<% if controller.controller_name == 'pages' &&  controller.action_name == 'index' %>
			<div class = 'section group'>
				<div class = 'col span_6_of_12' style = 'padding: 0 0 0 0; margin-top:50px;'>
					<div style = 'position: relative;'>
						<p id = 'siteName'>САМАРСКИЙ</p>
						<p id = 'siteName'>ПАРАПЛАНЕРНЫЙ</p>
						<p id = 'siteName'>КЛУБ</p>
						<div id = 'aboutClubLink'>
							<a href = '/about_us'><div></div><p>УЗНАТЬ О КЛУБЕ</p></a>   
						</div>
					</div>
				</div>             
			</div>
		<% end %>
	</div>
</div>
<a name = 'cs'></a>
<div id = 'middle'>
    <%= authority_message if user_type == 'new_user' && @show_authority_message_flag == true %>
    <%= header_1 %>
	<%= yield %>
    <div style = "position: relative; width: 100%;" id = "footerMark"></div>
</div>

<div id = 'bottom'>
	<div id = 'test'></div>
	<% if controller.controller_name == 'pages' and controller.action_name != 'visota_life' and controller.action_name != 'feed' and controller.action_name != 'search' %>
        <%= render 'pages/social_links' %>
		<%= render 'pages/phones_and_adresses' if controller.action_name != 'contacts' %>
	<% end %>
	<div id = 'footer'>
		<div class = 'm_1000wh'  style = 'top: 30%;'>
			<div class = 'section group'>
				<div class = 'col span_9_of_12'>
					<div id = 'bottomMenu'>
					  <%= bottomMainMenu.html_safe %>
					</div>
				</div>
				<div class = 'col span_3_of_12'>
				   <p id = 'bottomClubName'> © СПК "Высота", 2000-<%= Time.now.year %></p>
				</div>
			</div>
		</div>
	</div>
</div>
</body>
</html>
