<!DOCTYPE html>
<html>
<head>
  <title><%= my_title %></title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application", 'data-turbolinks-track' => true  %>
  <%= csrf_meta_tags %>
  <% define_action %>
</head>
<body>
    <div style = "position: relative; width: 100%; height: 65px; background-color: black;" id = "topPhotoPanel">
        <div  class = "m_1000wh">
            <div class = "section group">
                <div style = "margin:0; padding:0;" class = "col span_2_of_12">
                    <%= image_tag "white_logo_ns.png", id: "mLogo", link_to: root_path, height: "55px" %>
                   
                </div>
                <div id = "mmPhPath" style = "margin:0; padding:0;" class = "col span_8_of_12">
                    <%= topMainMenu.html_safe %>
                </div>
                <div id = "mmPhPath" style = "margin:0; padding:0;" class = "col span_2_of_12">
                    <ul>
                        <%= @link.html_safe %>
                    </ul>
                </div>
            </div>
            
        </div>
    </div>
	<div id = 'phContent'>
		<%= yield %>
        <div style = "position: relative; width: 100%;" id = "footerMark"></div>
	</div>
	<div id = 'bottom' style = 'width: 100%;'>
		<div id = 'test'></div><br />
    	<div id = 'footer'>
    		<div class = 'm_1000wh'  style = 'top: 30%;'>
    			<div class = 'section group'>
    				<div class = 'col span_9_of_12'>
    					<div id = 'bottomMenu'>
    					  <%= bottomMainMenu.html_safe %>
    					</div>
    				</div>
    				<div class = 'col span_3_of_12'>
    				   <p id = 'bottomClubName'> © СПК "Высота", 2000-<%= Time.now.year %></p>
    				</div>
    			</div>
    		</div>
    	</div>
    </div>
</body>
</html>
