<!DOCTYPE html>
<html>
<head>
  <title><%= my_title %></title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <% define_action %>
  <script type = 'text/javascript'>$(document).ready(function(){my_functions(); wheatherPanel(); <%= js_functions %> myPhotoPage();});</script>
</head>
<body>
	<div id = 'phContent'>
		<%= yield %>
	</div>
	<div id = 'bottom' style = 'width: 100%;'>
		<div id = 'test'></div><br />
	</div>
</body>
</html>
